@font-face {font-family: 'AauxBold';src: url('../fonts/AauxProOTBold.eot');src: url('../fonts/AauxProOTBold%EF%B9%96.eot#iefix') format('embedded-opentype'),url('../fonts/AauxProOTBold.woff') format('woff'),url('../fonts/AauxProOTBold.svg#AauxProOT-Bold') format('svg');}
   
@font-face {font-family: 'AauxBoldItalic';src: url('../fonts/AauxProOTBoldItalic.eot');src: url('../fonts/AauxProOTBoldItalic%EF%B9%96.eot#iefix') format('embedded-opentype'),url('../fonts/AauxProOTBoldItalic.woff') format('woff'),url('../fonts/AauxProOTBoldItalic.svg#AauxProOT-BoldItalic') format('svg');}
  
@font-face {font-family: 'AauxLight';src: url('../fonts/AauxProOTLight.eot');src: url('../fonts/AauxProOTLight%EF%B9%96.eot#iefix') format('embedded-opentype'),url('../fonts/AauxProOTLight.woff') format('woff'),url('../fonts/AauxProOTLight.svg#AauxProOT-Light') format('svg');}
  
@font-face {font-family: 'AauxLightItalic';src: url('../fonts/AauxProOTLightItalic.eot');src: url('../fonts/AauxProOTLightItalic%EF%B9%96.eot#iefix') format('embedded-opentype'),url('../fonts/AauxProOTLightItalic.woff') format('woff'),url('../fonts/AauxProOTLightItalic.svg#AauxProOT-LightItalic') format('svg');}
  
@font-face {font-family: 'AauxMedium';src: url('../fonts/AauxProOTMedium.eot');src: url('../fonts/AauxProOTMedium%EF%B9%96.eot#iefix') format('embedded-opentype'),url('../fonts/AauxProOTMedium.woff') format('woff'),url('../fonts/AauxProOTMedium.svg#AauxProOT-Medium') format('svg');}
  
@font-face {font-family: 'AauxMediumItalic';src: url('../fonts/AauxProOTMediumItalic.eot');src: url('../fonts/AauxProOTMediumItalic%EF%B9%96.eot#iefix') format('embedded-opentype'),url('../fonts/AauxProOTMediumItalic.woff') format('woff'),url('../fonts/AauxProOTMediumItalic.svg#AauxProOT-MediumItalic') format('svg');}
  
@font-face {font-family: 'AauxRegular';src: url('../fonts/AauxProOTRegular.eot');src: url('../fonts/AauxProOTRegular%EF%B9%96.eot#iefix') format('embedded-opentype'),url('../fonts/AauxProOTRegular.woff') format('woff'),url('../fonts/AauxProOTRegular.svg.ttf.html#AauxProOT-Regular') format('svg');}
  
/*@font-face {font-family: 'AauxRegularItalic';src: url('../fonts/AauxProOTRegularItalic.eot');src: url('../fonts/AauxProOTRegularItalic%EF%B9%96.eot#iefix') format('embedded-opentype'),url('../fonts/AauxProOTRegularItalic.woff') format('woff'),url('../fonts/AauxProOTRegularItalic.svg#AauxProOT-RegularItalic') format('svg');}
*/




