

<!-- Modal Program RFI -->

		
<div id="dasprogModal" class="modal fade rfi" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title">Request More Information</h1>
		<p id="rfiDesc">This information will help us connect you with the most relevant advisor.</p>
      </div>
      <div class="modal-body">
		  <%if @program.das_area == "accounting"%>
		  <div id="form_52074dac-c921-4714-a80a-0c1a9bdf15d7">Loading...</div><script>/*<![CDATA[*/var script = document.createElement('script'); script.async = 1; script.src = 'https://engage.suny.edu/register/?id=52074dac-c921-4714-a80a-0c1a9bdf15d7&output=embed&div=form_52074dac-c921-4714-a80a-0c1a9bdf15d7' + ((location.search.length > 1) ? '&' + location.search.substring(1) : ''); var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);/*]]>*/</script>   </div>
		  <%elsif @program.das_area == "business"%>
		  <div id="form_d6868379-cef9-48b3-8ca6-f7c4a58ac184">Loading...</div><script>/*<![CDATA[*/var script = document.createElement('script'); script.async = 1; script.src = 'https://engage.suny.edu/register/?id=d6868379-cef9-48b3-8ca6-f7c4a58ac184&output=embed&div=form_d6868379-cef9-48b3-8ca6-f7c4a58ac184' + ((location.search.length > 1) ? '&' + location.search.substring(1) : ''); var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);/*]]>*/</script></div>      
 <%elsif @program.das_area == "computerscience_it"%>
     <div id="form_627a8236-925f-4c9b-9fef-591dfedf9b32">Loading...</div><script>/*<![CDATA[*/var script = document.createElement('script'); script.async = 1; script.src = 'https://engage.suny.edu/register/?id=627a8236-925f-4c9b-9fef-591dfedf9b32&output=embed&div=form_627a8236-925f-4c9b-9fef-591dfedf9b32' + ((location.search.length > 1) ? '&' + location.search.substring(1) : ''); var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);/*]]>*/</script>
 </div>
 <%elsif @program.das_area == "criminal_justice"%>
 <div id="form_bf20e24d-083b-4e37-bb59-305b6dd00868">Loading...</div><script>/*<![CDATA[*/var script = document.createElement('script'); script.async = 1; script.src = 'https://engage.suny.edu/register/?id=bf20e24d-083b-4e37-bb59-305b6dd00868&output=embed&div=form_bf20e24d-083b-4e37-bb59-305b6dd00868' + ((location.search.length > 1) ? '&' + location.search.substring(1) : ''); var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);/*]]>*/</script></div>
 <%elsif @program.das_area == "education"%>
     <div id="form_adb27051-5b75-4ac2-95e1-03eaf78a3f8a">Loading...</div><script>/*<![CDATA[*/var script = document.createElement('script'); script.async = 1; script.src = 'https://engage.suny.edu/register/?id=adb27051-5b75-4ac2-95e1-03eaf78a3f8a&output=embed&div=form_adb27051-5b75-4ac2-95e1-03eaf78a3f8a' + ((location.search.length > 1) ? '&' + location.search.substring(1) : ''); var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);/*]]>*/</script>
 </div>
  <%elsif @program.das_area == "engineering"%>
     <div id="form_fa6380d3-ad64-40de-a3eb-79bda0189db8">Loading...</div><script>/*<![CDATA[*/var script = document.createElement('script'); script.async = 1; script.src = 'https://engage.suny.edu/register/?id=fa6380d3-ad64-40de-a3eb-79bda0189db8&output=embed&div=form_fa6380d3-ad64-40de-a3eb-79bda0189db8' + ((location.search.length > 1) ? '&' + location.search.substring(1) : ''); var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);/*]]>*/</script>
  </div>
  <%elsif @program.das_area == "general_studies"%>
     <div id="form_d259b79f-e113-42d8-88f9-3da19f1798ac">Loading...</div><script>/*<![CDATA[*/var script = document.createElement('script'); script.async = 1; script.src = 'https://engage.suny.edu/register/?id=d259b79f-e113-42d8-88f9-3da19f1798ac&output=embed&div=form_d259b79f-e113-42d8-88f9-3da19f1798ac' + ((location.search.length > 1) ? '&' + location.search.substring(1) : ''); var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);/*]]>*/</script>
  </div>
  <%elsif @program.das_area == "graduate_degrees"%>
     <div id="form_c6290d1f-9ec4-47d2-ba33-f116076b5a64">Loading...</div><script>/*<![CDATA[*/var script = document.createElement('script'); script.async = 1; script.src = 'https://engage.suny.edu/register/?id=c6290d1f-9ec4-47d2-ba33-f116076b5a64&output=embed&div=form_c6290d1f-9ec4-47d2-ba33-f116076b5a64' + ((location.search.length > 1) ? '&' + location.search.substring(1) : ''); var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);/*]]>*/</script>
  </div>
  <%elsif @program.das_area == "healthcare"%>
      <div id="form_512400b7-5226-42a8-8634-797da606ba0f">Loading...</div><script>/*<![CDATA[*/var script = document.createElement('script'); script.async = 1; script.src = 'https://engage.suny.edu/register/?id=512400b7-5226-42a8-8634-797da606ba0f&output=embed&div=form_512400b7-5226-42a8-8634-797da606ba0f' + ((location.search.length > 1) ? '&' + location.search.substring(1) : ''); var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);/*]]>*/</script>
  </div>
  <%elsif @program.das_area == "psychology"%>
      <div id="form_5f37bdd0-769c-2233-864e-8e07e8971f26">Loading...</div><script>/*<![CDATA[*/var script = document.createElement('script'); script.async = 1; script.src = 'https://engage.suny.edu/register/?id=5f37bdd0-769c-2233-864e-8e07e8971f26&output=embed&div=form_5f37bdd0-769c-2233-864e-8e07e8971f26' + ((location.search.length > 1) ? '&' + location.search.substring(1) : ''); var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);/*]]>*/</script>
  </div>
  
  <%elsif @program.das_area == "security_studies"%>
  <div id="form_395be976-cfd7-4d0d-82c1-b64db97528eb">Loading...</div><script>/*<![CDATA[*/var script = document.createElement('script'); script.async = 1; script.src = 'https://engage.suny.edu/register/?id=395be976-cfd7-4d0d-82c1-b64db97528eb&output=embed&div=form_395be976-cfd7-4d0d-82c1-b64db97528eb' + ((location.search.length > 1) ? '&' + location.search.substring(1) : ''); var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);/*]]>*/</script>
  </div>
 <%end%>

  </div>
</div>
	
<!-- Modal -->
		
