

<!doctype html>
<html lang="en">
    <head>

      
      <!-- Facebook Pixel Code -->
      <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '659208210936055');
        fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=659208210936055&amp;ev=PageView&amp;noscript=1"
      /></noscript>
      <!-- End Facebook Pixel Code -->
      <meta name="facebook-domain-verification" content="1fmpdbpfrkd8un4mbuhm1rpmzzj8y4" />
      
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="SUNY Online">
      	<meta name="bot token" content=''>
        <meta name="description" content="<%=pathway.meta_description%>">
    		<meta name="keywords" content="<%=pathway.meta_keywords%>">
			<link rel="shortcut icon" href="/assets/favicon.ico">
			
          <title><%= pathway.page_title %> | SUNY Online</title>
      
      	<script>
          var idCounter = 0;
          function uniqid(prefix) {
            var id = '' + ++idCounter;
            return prefix ? prefix + id : id;
          };
      </script>
       <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <link rel="stylesheet" type="text/css" media="" href="/assets/suny-online-/css/fonts.css" />
        <link rel="stylesheet" type="text/css" media="" href="/assets/suny-online-/css/main.css" />
      	<link rel="stylesheet" type="text/css" media="" href="/assets/suny-online-/css/triangle.css" />

      	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
      
		
        <!--script type="text/javascript" src="/assets/suny-online-/js/jquery.js"></script-->
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<script type="text/javascript" src="/assets/suny-online-/js/owl.carousel.js"></script>
        <script type="text/javascript" src="/assets/suny-online-/js/main.js"></script>
		<script type="text/javascript" src="/assets/suny-online-/js/waypoint.js"></script>
		<script type="text/javascript" src="/assets/suny-online-/js/counterup2-1.0.1.min.js"></script>
		<script type="text/javascript" src="/assets/suny-online-/js/list.js"></script>
        
	    <!-- Google Tag Manager -->
	    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	    })(window,document,'script','dataLayer','GTM-THD9NLX');</script>
	    <!-- End Google Tag Manager -->


	    <!-- Global site tag (gtag.js) - Google Analytics -->
	    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44103522-2"></script>
	    <script>
	      window.dataLayer = window.dataLayer || [];
	      function gtag(){dataLayer.push(arguments);}
	      gtag('js', new Date());

	      gtag('config', 'UA-44103522-2');
	    </script>
  
	     <!-- Global site tag (gtag.js) - Google Analytics -->
	     <script async src="https://www.googletagmanager.com/gtag/js?id=G-D9Z4ZB3QXQ"></script>
	     <script>
	       window.dataLayer = window.dataLayer || [];
	       function gtag(){dataLayer.push(arguments);}
	       gtag('js', new Date());

	       gtag('config', 'G-D9Z4ZB3QXQ');
	     </script>
      
      
	     </head>
	     <body data-page="<%= pathway.title %>">  
       
	   	  <!-- Google Tag Manager (noscript) -->
	   	  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THD9NLX"
	   	  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	   	  <!-- End Google Tag Manager (noscript) -->
      	
      
      	<div style="display:none;" data-home="/" id="homeTag"></div>

        <!-- Header -->
	    <header class="navbar  bs-docs-nav">
	
	      <%= render '/layouts/navigation' %>
	    </header>
<div class="tri full" id="hero" style="background-image:url('/assets/suny-online-/images/404-error-image-1024x768.png');background-position: center;" alt="Suny hero image">
    <div class="tri" id="404page">
        <div class="ang le-full md-third-2">
            <h1>404:</h1>
            <p>Oh, hello. We are sorry about this. 
Click below to see our programs. 
Email us at studyonline@suny.edu or give us a call at 800.342.3811</p>

<p><h3>Recruitment Response Center</h3><br>
<strong>Phone: </strong>518.320.1888
<strong>Phone (Toll-Free): </strong> 800.342.3811
<strong>Email: </strong> <a href="askSUNY@suny.edu">askSUNY@suny.edu</a>
<strong><a href="https://www.suny.edu/attend/request-information/">Request Information</a></strong>
</p>
            
         </div>  
	        <div class="ang le-full md-third-2">
	            <a href="https://explore.suny.edu/" class="cta__blue" alt="See All Programs" title="See All Programs">See All Programs</a>
	        </div>
            
       
    </div>
</div>




<%= render '/layouts/footer' %>


    </body>
</html>

<%end%>