<div class="tri full SO__grad_quotes SO_grey" 
     id="SO__grad_quotes">
  	<div class="tri grad_qoutes">
      <div class="ang le-half hide-sm"></div>
      <div class="ang le-full md-half hide-sm">
          <h3>What Our Graduates Say</h3>
      </div>
      <div class="ang le-full">
          <ul class="quotes__list">
              <li class="quote__container" 
                  data-content="&ldquo;I have an amazing success coach who has checked in on me academically, and friendly reminders about registrations, events, etc.&rdquo; ">
                <p>
                    &ldquo;I have an amazing success coach who has checked in on me academically, and friendly reminders about registrations, events, etc.&rdquo; 
                    <span class="quote__name">
                        - Travell, Empire State College
                    </span>
                </p>
              </li>
              <li class="quote__container" 
                  data-content="&ldquo;Between learning so much from my teachers from their online lectures and the activities available to me, most would have no clue that I am an online-only student.&quot;">
                <p>
                    &ldquo;Between learning so much from my teachers from their online lectures and the activities available to me, most would have no clue that I am an online-only student.&quot;
                    <span class="quote__name">
                        - Monica, SUNY Canton 
                    </span>
                </p>
              </li>
              <li class="quote__container" 
                  data-content="&ldquo;One of the reasons I choose SUNY ESC was the flexibility it provided me to continue working full time and finish my degree.  It was one of the best decisions I have made in a long time.&rdquo; ">
                <p>
                    &ldquo;One of the reasons I choose SUNY ESC was the flexibility it provided me to continue working full time and finish my degree.  It was one of the best decisions I have made in a long time.&rdquo; 
                    <span class="quote__name">
                        - Nicole, Empire State College 
                    </span>
                </p>
              </li>
          </ul>
      </div>
	</div>
	
        <div class="quotes__background" style="background-image:url('../../assets/suny-online-/images/Brian_Styk_ESC Student Life - Lindsay Decker 10.jpg');"></div> <!--gradsSayIMG.png-->
  </div>