<div class="container">
  <div class="row">
    <h1>Schools</h1>
          <table>
          <% @schools.in_groups(30, false) do |group| %>
          <tr>
            <% group.each do |school| %>
            <td align="center"><%= image_tag school.image.url(:thumb), alt: school.name %><br/><%= link_to school.name, school %></td>
            <% end %>
          </tr>
          <% end %>
          </table>