<div class="container">
  <div class="row">
    <h3>Schools</h3>
    <div class="column">
      
          <% @schools.each do |school| %>

              <div><%= link_to school.name, school %></div><div><%= image_tag school.image.url(:thumb), alt: school.name %></div>

          <% end %>

    </div>
  </div>
</div>