<h2>All Campuses</h2>
<p>Interested in signing up for a course at a specific campus? 
  If you’ve had your mind set on taking a course from a specific SUNY campus, 
  you can use the listing below to see what offerings are available from the campus that most interests you.
</p>
<table class="table table-striped table-hover table-bordered">
  
  <% @schools.each_slice(2) do |row| %>
  <tr>
     <% row.each do |school| %>
    <td align="center" ><a href="/courses?filterrific[with_school_id]=<%=school.id%>" ><%= image_tag(school.image.url(:thumb), :align=> "center") %></a>
    <td  valign="center" class="campuses"><a href="/courses?filterrific[with_school_id]=<%=school.id%>" ><%= school.name %></td>
    <%  end %>
    </tr>
  <% end %>
</table>