@charset "UTF-8";
/* SUNY Online - Main CSS */

/* Variables */

.tri { max-width: 1587px; } /* Change to match website width */

/* Fonts */

.AauxBold {
  font-family: AauxBold;
  font-weight: normal;
  font-style: normal; }

.AauxBoldItalic {
  font-family: AauxBoldItalic;
  font-weight: normal;
  font-style: normal; }

.AauxLight {
  font-family: AauxLight;
  font-weight: normal;
  font-style: normal; }

.AauxLightItalic {
  font-family: AauxLightItalic;
  font-weight: normal;
  font-style: normal; }

.AauxMedium {
  font-family: AauxMedium;
  font-weight: normal;
  font-style: normal; }

.AauxMediumItalic {
  font-family: AauxMediumItalic;
  font-weight: normal;
  font-style: normal; }

.AauxRegular {
  font-family: AauxRegular;
  font-weight: normal;
  font-style: normal; } 

.AauxRegularItalic {
  font-family: AauxRegularItalic;
  font-weight: normal;
  font-style: normal; }

html, body { font-family: AauxRegular; margin:0; padding:0; }

 a:link, a:active, a:visited {text-decoration:none;
   /*color:#0089e0;*/ }

a:hover { text-decoration:underline;
}



*, *:after, *:before { 
  box-sizing:border-box;
}

/* Text Styles */

.txtC {
    text-align:center !important;
}

.txtL {
    text-align:left !important;
}

.txtR {
    text-align:right !important;
}

.txtLmC {
    text-align:left !important;
}

.txtCmL {
    text-align:center !important;
}

.txtRmC {
    text-align:right !important;
}

.txtRmL {
    text-align:right !important;
}

h1 { font-size:80px;  }
h2 { font-size:55px;  }
h3 { font-size:45px;  }
h4 { font-size:35px; }

p { font-size:30px; }



.justified { text-align:justify !important; }

/* CTA Styles */

.chevron__down:after {
 	content:'\f078'; 
  	margin-left:15px;
  	color:white;
  	font-family:"Font Awesome 5 Free";
}

[class*="cta__"],
.filter > li > a {
    border-radius: 8px;
}

[class*="cta__"],
.filter > li > a,
.pagination > li > a {
    padding:0 20px;
    -webkit-transition: 0.3s all;
    transition:0.3s all;
    color:white;
    border: none;
    display:inline-block;
    min-width:320px;
    text-align:center;
  	font-size:27px;
  	margin:1em 0;
  	text-transform:uppercase;
    height:75px;
    line-height:75px;
  	font-family: 'AauxBold';
}

.pagination > li:first-child > a {
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
}

.pagination > li:last-child > a {
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
}

[class*="cta__"] > i {
    font-size:25px;
}

.cta__blue {
    background-color: #009EE0;
}

.cta__blue:hover {
    background-color: #006b98;
}

.cta__ghost {
  	color:white;
  	border:1px solid white;
    background-color: rbga(255,255,255,0);
}

.cta__ghost:hover {
  	border:1px solid white;
  	color:#006b98;
    background-color: #FFFFFF;
}

.SO__logo > img {
  /*height:138px;*/
}

.pagination > li > a,
.filter > li > a {
  border:1px solid #009EE0;
  color:#009EE0;
  background:white;
}

.pagination > li > a:hover,
.pagination > li.active > a,
.filter > li > a:hover,
.filter > li > a.active {
  border:1px solid #549e4b;
  color:white;
  background:#549e4b;
}

.chevron__down:after {
  	content: '\f078';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  	font-size:25px;
}

.form_action > button:after,
.chevron__right:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  	font-size:25px;
}

@media screen and (min-width:47.939em) and (max-width:63.938em) {
  	[class*="cta__"],
    .filter > li > a,
    .pagination > li > a {
		font-size:22px;
      	width: 87.5%;
      	max-width:320px;
      	min-width:auto;
    }
}

@media screen and (max-width:47.938em) {
  	[class*="cta__"],
    .filter > li > a,
    .pagination > li > a {
		font-size:22px;
      	width:100%;
      	max-width:320px;
      	min-width:auto;
    }
}

/* Color Schemes */

.SO_white, .SO_white_grey {
    background:white;
    color:#2E2E2E;
}
.SO_white h2 {
    color:#004C93;
}

.SO_white_grey {
    background:white;
    color:#2E2E2E;
}

.SO_grey {
    background:#2E2E2E;
    color:#FFFFFF;
}

.SO_blue {
    background:#004C93;
    color:#FFFFFF;
}

/* Metadata Styling */

#program__metadata,
#industry__metadata,
.industry__list {
  display:none;
}

/* OUTER CSS - Styling for the header/footer container */

/* Header */

header {
    position:absolute;
    top:0;
    left:0;
    height:calc(108px + 2em);
    padding:1em 0;
}

.navigation__bar {
    list-style-type:none;
    padding:0;
    margin:0;
}

.navigation__bar a{
    display: inline-block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    -webkit-transition: 0.3s all;
    transition:0.3s all;
    background:rgba(0, 76, 147, 0);
    display:block;
    height:108px;
    line-height:108px;
    font-size:22px;
    margin-right:1em;
    padding:0 1em;
  	position:relative;
}

.navigation__bar > li > a:after {
    content:'';
  	position:absolute;
  	bottom:30px;
  	height:5px;
  	width:calc(100% - 2em);
  	background:#009EE0;
    opacity:0;
  	left:1em;
    transition:0.3s all;
}

.navigation__bar > li.current > a:after,
.navigation__bar a:hover:after {
  	opacity:1;
}

.navigation__bar li{
    display: inline-block;
    font-size: 14px;
}

.mobile_menu__toggle {
  color:white;
  font-size:22px;
  display:none;
  transition:0.3s all;
}

.mobile_menu__toggle:hover {
  	color:#009EE0;
}

@media screen and (min-width:47.939em) and (max-width:63.938em) {

  .navigation__bar a {
  	white-space: nowrap;
    padding-left: 35%;
  }
  
}

@media screen and (max-width:47.938em) {
  .mobile_menu__toggle {
    display:block;
    position: absolute;
    top: 67px;
    left: 2em;
  }
  
  .navigation__bar li {
      display: block;
      font-size: 14px;
      border-bottom: 1px solid #009DDF;
  }
  
  .navigation__bar a {
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.1em;
      -webkit-transition: 0.3s all;
      transition: 0.3s all;
      display: block;
      height: 70px;
      line-height: 70px;
      font-size: 18px;
      margin-right: 1em;
      padding: 0;
      position: relative;
      white-space: nowrap;
  }
  
  .navigation__bar > li > a:after {
      content:'' !important;
      position:absolute !important;
      bottom:30px !important;
      height:5px !important;
      width:calc(100% - 2em) !important;
	  
      opacity:0 !important;
      left:1em !important;
      transition:0.3s all !important;
  }
}

/* Footer */

footer {
    position:relative;
    background-color: #2E2E2E; 
    border-top: 5px solid #009EE0;
    padding:2em 0 3em 0;
}

footer h3 a {
    color: #009EE0;
    font-size:24px;
  	transition:0.3s all;
}

footer h3 a:hover {
  	color:#FFFFFF;
}

.mobile_menu__container h4,
footer h4 {
    color: #009EE0;
    font-size:18px;
    margin-top:0;
}

.mobile_menu__container {
  position: fixed;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: auto;
    background: #002B54;
    padding: 2.5em 2.5em 4em 2.5em;
    border-radius: 0 0 100px 100px;
    overflow-x: hidden;
  transition:0.3s all;
}

@media (orientation: landscape) {
	.mobile_menu__container {
    	top: -600px;
    	border-radius: 0 0 0 0;
    }
}

.mobile_menu__container.open {
  	top:0;
  left: 0;
  border-radius: 0 0 12px 12px;
}

@media (orientation: landscape) {
	.mobile_menu__container.open {
    	border-radius: 0 0 0 0;
    }
}

.footer__list,
.social__list {
    list-style-type: none;
    padding:0;
    margin:0;
}

.footer__list a,
.social__list a {
    color:white;
    -webkit-transition: 0.3s all;
    transition:0.3s all;
    font-size:17px;
}

.social__list a:hover,
.footer__list a:hover {
    color:#009EE0;
}

.footer__list li {
    margin-bottom: 10px;
}

.social__list li {
    display:inline-block;
    margin-right:1em;
}

.social__list a {
    font-size:26px;
}

#footerArrow{
    width: 40px;
    right: 4em;
    top: -40px;
    position: absolute;
    cursor:pointer;
}

#footerImage{
    width:200px;
}

.copyright {
    font-size:16px;
    color:white;
    display:block;
    margin-top:1em;
}

/* SECTIONS - CSS for each Content Type */

/* "Achievements" Style */

.counter__container {
    font-family:'AauxBold';
    font-weight:900;
    font-size:79px;
}
.counter__description {
    font-size:32px;
  	min-height: 55px;
  padding-top: 2%;
}
.counter__image {
    height:222px;
    width:222px;
    border-radius:50%;
    background:#004C93;
    position:relative;
    margin:0 auto;
    display:block;
}
.counter__image:after {
    content:'';
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #004C93;
    position:absolute;
    bottom:-15px;
    left:calc(50% - 20px);
}
.counter__image > img {
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
  	max-height: 100px;
  	width: auto !important
}

@media screen and (max-width:1250px) {
    .counter__image {
        height:180px;
        width:180px;
        border-radius:50%;
        background:#004C93;
        position:relative;
        margin:0 auto;
        display:block;
    }
    .counter__image > img {
        position:absolute;
        top:50%;
        left:50%;
        -webkit-transform:translate(-50%, -50%);
        transform:translate(-50%, -50%);
        max-height:80px;
      	width: auto !important
    }
    .counter__container {
        font-family:'AauxBold';
        font-weight:900;
        font-size:60px;
    }
}

@media screen and (max-width:48em) {
  .counter__image {
      height: 120px;
      width: 120px;
  }
  
  .counter__image > img {
      max-height: 60px;
  }
  
  .counter__container {
    margin-top:18px;
   	font-size:35px; 
  }
  
  .counter__description {
    font-size:20px;
    margin-bottom:18px;
  }
  
}

/* "Basic Content" Style */
    
.content {
    padding:3em 0;
}

/* "Homepage Form" Style */

/* "Homepage Categories" Style */

#category_list {
    background:white;
}

.category_list__ul {
    margin:-100px 0 0 0;
    list-style-type: none;
    padding:0; 
    font-size:0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.category_list__ul li {
    width:100%;
    display:inline-block;
    vertical-align:bottom;
    max-width:245px;
  	position:relative;
}

.fa-circle-notch.fa-spin {
  	font-size: 40px;
    color: white;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    z-index: 10;
  	pointer-events:none;
  	opacity:1;
  	transition:0.3s all;
}

.loaded i.fa-circle-notch.fa-spin {
  	opacity:0;
}

.category_list__ul li .category_list__link {
    background-color:#004C93;
    color:white;
    font-size:17px;
    border-radius:15px;
    display:inline-block;
    -webkit-transition: 0.3s all;
    transition:0.3s all;
    cursor:default;
    text-align:center;
    position: relative;
    padding:50px 20px;
    height:308px;
    margin-top:32px;
  	width:100%;
}

.category_list__ul li .category_list__link img {
    display:block;
    height:99px; 
    margin:0 auto 30px auto;
}

#category_list img.icon__list,
#category_list img.icon__program {
  display:none;
}

.category_list__ul li .category_list__link strong,
.category_list__ul li .category_list__link a {
    font-size:23px;
    text-transform: uppercase;
    font-weight: normal;
    line-height:31px;
}

.category_list__ul li .category_list__link.active {
    background-color:#54B948;
    text-align:left;
    height:340px;
    margin-top:0;
}

.category_list__ul li .category_list__link p,
.category_list__ul li .category_list__link .category_list__close {
    display:none;
}    

.category_list__more_info {
    width:40px;
    height:40px;
    background:#009EE0;
    border-radius:50%;
    text-align:center;
    line-height:40px;
    color:white;
    -webkit-transition: 0.3s all;
    transition:0.3s all;
    display:block;
    position:absolute;
    left:calc(50% - 20px);
    bottom:-20px;
}

.category_list__more_info:hover {
    background:#0078aa;
}

.mobile_menu__close,
.category_list__close {
    background:rgba(255, 255, 255, 0);
    color:white;
    border-radius:50%;
    border:2px solid white;
    height:40px;
    display:block;
    width:40px;
    text-align:center;
    line-height:40px;
    -webkit-transition: 0.3s all;
    transition:0.3s all;
    position:absolute;
    top:5px;
    right:5px;
}

.mobile_menu__close:hover,
.category_list__close:hover {
    background:#ffffff;
    color:#54B948;
}

.mobile_menu__close > i,
.category_list__close > i,
.category_list__more_info > i {
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
}

.mobile_menu__close > i,
.category_list__close > i {
    top: 50%;
}

.mobile_menu__close {
  display: inline;
    position: absolute;
    left: 2.5em;
    top: 63px;
}

.category_list__button {
    display:none;
    color:white;
    position:absolute;
    bottom:50px;
    left:20px;
}

.category_list__link [id*="industry__metadata"] {
  display:block;
  text-align: center;
}

#category_list [id*="industry__metadata"] p {
  font-size:17px;
}

@media screen and (min-width:47.939em) and (max-width:63.938em) {
  	.category_list__ul li .category_list__link strong, .category_list__ul li .category_list__link a {
  		font-size:21px;
    	line-height: 24px;
	}
  
  	.category_list__ul {
     	display:block;
    }
    .category_list__ul li {
     	max-width:100%; 
    }
  
  	.category_list__link [id*="industry__metadata"] {
      padding-left:100px;
    }
  
  	.category_list__link.active [id*="industry__metadata"] {
      padding-left:0;
    }
  
  	.category_list__ul li .category_list__link img.icon__home {
      position: absolute;
      width: 80px;
      height: auto;
      left: 2em;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .category_list__ul li .category_list__link {
      height:auto;
    }
  
  	.category_list__ul li .category_list__link.active {
     	height:auto;
      	padding-bottom:100px;
     	margin-top:32px;
    }

}

@media screen and (max-width:47.938em) {
  .category_list__ul li .category_list__link strong, .category_list__ul li .category_list__link a {
  		font-size:21px;
    	line-height: 24px;
	}
  
  	.category_list__ul {
     	display:block;
    }
    .category_list__ul li {
     	max-width:100%; 
    }
  
  	.category_list__link [id*="industry__metadata"] {
      padding-left:100px;
    }
  
  	.category_list__link.active [id*="industry__metadata"] {
      padding-left:0;
    }
  
  	.category_list__ul li .category_list__link img.icon__home {
      position: absolute;
      width: 80px;
      height: auto;
      left: 2em;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .category_list__ul li .category_list__link {
      height:auto;
    }
  
  	.category_list__ul li .category_list__link.active {
     	height:auto;
      	padding-bottom:100px;
     	margin-top:32px;
    }
}

/* "Hero/Filter" Style */

.program_filter__list { display:none !important; }

.hero_filter {
     position: relative;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     width: calc(100% - 1em); 
}

.hero_filter__box {
  display:inline-block;
}

.hero_filter__select {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius:15px;
} 

.cta__ghost,
.hero_filter__trigger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 22px;
    font-family: 'AauxBold';
    color: #FFFFFF;
    height: 75px;
    line-height: 75px;
    background: #009EE0;
    cursor: pointer;
    border-radius:15px;
    -webkit-transition: 0.3s all;
    transition:0.3s all;
    text-transform:uppercase; 
}

.hero_filter__trigger:hover {
    background: #0076a7;
}

.cta__ghost > i,
.hero_filter__trigger > i {
    margin-left:10px;
    font-size: 20px;
    -webkit-transition: 0.3s all;
    transition:0.3s all;
}

.hero_filter:hover .hero_filter__trigger > i,
.hero_filter__select.open .hero_filter__trigger > i {
    margin-left:20px;
}

.hero_filter__select.open .hero_filter__trigger {
    border-radius:15px 15px 0 0;
}

.hero_filter__options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    background: #009EE0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 99;
    border-radius:0 0 15px 15px;
}

.hero_filter__select.open .hero_filter__options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  
}
@media screen and (min-width:47.939em) and (max-width:63.938em) {
	.hero_filter__select.open .hero_filter__options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
      width: 44em;
      z-index: 99;
    }

}
.hero_filter__options > span {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #FFFFFF;
    line-height: 60px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.hero_filter__options > span:hover,
.hero_filter__options > span:focus {
    cursor: pointer;
    background-color: #0076a7;
}

.hero_filter__options > span.selected {
    color: #ffffff;
    background-color: #004C93;
}

.hero_filter__trigger > span {
    width:300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#hero {
    height:100vh;
    padding-top:calc(6em + 150px);
    padding-bottom:6em;
    background-size:cover;
    background-position:bottom left;
    background-repeat:no-repeat;
}

#hero_filter__program[data-industry="na"],
#hero_filter.loading .hero_filter {
    pointer-events:none !important;
}

#hero_filter .fa-circle-notch,
#hero_filter.loading .fa-chevron-right {
  display:none;
}

#hero_filter.loading .fa-circle-notch {
  display:inline;
}

#hero_filter__program[data-industry="na"] .hero_filter__trigger {
    background-color:#949494;
  	/*visibility: hidden;*/
}

#hero_filter__program .hero_filter__options span {
    display:none;
}

#hero_filter__program .hero_filter__options span.visible {
    display:block;
}

#hero h1 {
    font-size:68px;
    color:white;
    margin-bottom:10px;
 	margin-top:0;
  	font-family: AauxMedium;
}

#hero p {
    margin-top:0px;
    padding-top:0;
    font-size:40px;
    color:white;
}

@media screen and (min-width:47.939em) and (max-width:63.938em) {
  
	.cta__ghost {
   	font-size:16px;
    background:#009EE0 !important;
    margin-top:0;
  }
  
  .cta__ghost:hover {
   	font-size:16px;
    background:rgba(255,255,255,1);
  }

  .cta__ghost > span,
  .hero_filter__trigger > span {
      width:39.15em;
  }
  
  .hero_filter__options > span {
   	font-size:18px; 
    width: 39.15em;
  }
  
  #hero {
    height:auto;
  }
  
  .SO__logo > img {
   	margin: 1em auto 2em auto;
    display: block;
    height: 95px;
    position:relative;
    z-index:99;
  }
  
  .mobile_menu__container .SO__logo > img {
   	visibility:hidden; 
  }
  
  #hero h1 { 
    font-size:40px;
    white-space: inherit;
    float: left;
  }
  
  #hero p { 
    font-size:20px;
    float: left; 
  }
  
  .hero_filter__trigger {
    font-size: 16px;
    width: 44em;
  }  
  
  .hero_filter,
  .hero_filter__box { 
      width:100%; 
  }
  
  .hero_filter__box { 
   	margin-bottom:10px; 
  }
}


@media (orientation: landscape) {
  .mobile_menu__container .SO__logo > img {
   	visibility:visible !important; 
  }
}

@media screen and (max-width:48em) {
  
  .cta__ghost {
   	font-size:16px;
    /*background:rgba(255,255,255,0);*/
    margin-top:0;
  }
  
  .cta__ghost:hover {
   	font-size:16px;
    background:rgba(255,255,255,1);
  }

  .cta__ghost > span,
  .hero_filter__trigger > span {
      width:100%;
  }
  
  .hero_filter__options > span {
   	font-size:18px; 
  }
  
  #hero {
    height:auto;
  }
  
  .SO__logo > img {
   	margin: 1em auto 2em auto;
    display: block;
    height: 95px;
    position:relative;
    z-index:99;
  }
  
  .mobile_menu__container .SO__logo > img {
   	visibility:hidden; 
  }
  
  #hero h1 { 
    font-size:40px;
    white-space: unset; 
  }
  
  #hero p { 
    font-size:20px; ; 
  }
  
  .hero_filter__trigger {
    font-size: 16px;
  }  
  
  .hero_filter,
  .hero_filter__box { 
      width:100%; 
  }
  
  .hero_filter__box { 
   	margin-bottom:10px; 
  }
}

@media (orientation: landscape) {
	.SO__logo > img {
      z-index:0 !important;
    }
}

/* "Home Testimonial" Style */

#testimonial {
    padding-top:calc(144px + 2em);
    position:relative;
}

.testimonial__container  {
    min-height:490px;
    position:relative;
    width:100%;
    padding-top:144px;
    z-index:10;
}

.testimonial__location,
.testimonial__photo,
.testimonial__quote {
    position:absolute;
    z-index:10;
}

.testimonial__location {
    top:-80px;
    left:2em;
}

.testimonial__location > span {
    display:block;
    width:100%;
    text-align:center;
    color:#009EE0;
    font-size:28px;
}

.testimonial__photo {
    top:-144px;
    height:280px;
    width:280px;
    border-radius:50%;
    border:8px solid #009EE0;
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    left:calc(50% - 144px);
}

.testimonial__quote {
    top:-70px;
    right:2em;
}

.testimonial__background {
    width:100%;
    height:calc(100% - 144px);
    position:absolute;
    bottom:0;
    left:0;
    background-image:url('/media/suny-online-/images/testimonial.jpg');
    background-size:cover;
    background-position:bottom left;
    background-repeat:no-repeat;
    z-index:0;
}

.testimonial__content {
    color:white;
}

.testimonial__content h3 {
    font-size:55px;
    margin-bottom:10px;
}

.testimonial__content p {
    font-size:30px;
    max-width:1000px;
    margin:0 auto;
} 

@media screen and (min-width:48em) and (max-width:63.938em) { 
	.testimonial__photo {
    top: 0;
    height: 185px;
    width: 185px;
    position: relative;
          margin-left: 10% !important;
	}
}

@media screen and (max-width:48em) {
  
    #testimonial {
      padding-top:0;
    }
  
  .testimonial__photo {
    top: 0;
    height: 185px;
    width: 185px;
    position: relative;
    margin: 0 auto;
	}
  
  .testimonial__quote {
    top: 154px;
    right: 1em;
  }
  
  .testimonial__quote > img {
    width: 45px;
  }
  
  .testimonial__content h3 {
   	font-size:30px; 
  }
  
  .testimonial__content p {
   	font-size:20px; 
  }
  
  .testimonial__container {
      min-height: 490px;
      position: relative;
      width: 100%;
      padding-top: 1em;
      z-index: 10;
      padding-bottom: 149px;
  }
  
  .testimonial__location {
    bottom: 2em;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    top:auto;
  }
  
  .testimonial__location > img {
    height:60px;
  }
  
  .testimonial__location > span {
      text-align: center;
      font-size: 16px;
  }
  
  .testimonial__background {
   	background: #2E2E2E;
    height:100%;
  }
  	
}

/* About Description & Form Styling */

.about__desc h3,
.about__form h3,
.SO__general_form h3{
  font-size: 45px;
}

.about__desc h3{
  color: white;
}

.about__form h3,
.SO__general_form h3{
  text-align:center;
}

.about__desc p{
  color: white;
  font-size: 25px;
}

.about__desc {
  padding:1em 2em;
  background-color: #549e4b;
  position:relative;
  padding-bottom: calc(2em + 45px);
}

#form__anchor {
 	position:absolute;
  	top:0;
  	left:-999px;
  	visibility:hidden;
  	pointer-events:none;
}

.about__form {
  position:relative;
  padding:1em 2em;
  background-color: #ffffff;
}

.about__form .form_label,
.SO__general_form .form_label{
  display:none !important;
}

.SO__general_form input[type=text], .SO__general_form input[type="email"], .SO__general_form input[type="tel"],
.about__form input[type=text], .about__form input[type="email"], .about__form input[type="tel"] {
  width: 100%;
  height: 70px;
  line-height:50px;
  padding: 10px 20px;
  margin: 5px 0px;
  box-sizing: border-box;
  border: 1px solid #edeff6;
  background-color: #edeff6;
  border-radius: 8px;
  font-size:22px;
}

.SO__general_form select,
.about__form select {
  width: 100%;
  height: 70px;
  line-height:50px;
  padding: 10px 20px;
  margin: 5px 0px;
  box-sizing: border-box;
  border: 1px solid #edeff6;
  background-color: #edeff6;
  border-radius: 8px;
  font-size:20px;
}

.SO__general_form .form_responses,
.about__form .form_responses {
  padding: 3px 6px;
}

.SO__general_form .form_question,
.about__form .form_question {
  padding: .5em;
  float: none !important;
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
}

.SO__general_form .form_question_4379f3e7-13f3-9a59-bbd8-f9bbad834a3d,
.about__form .form_question_4379f3e7-13f3-9a59-bbd8-f9bbad834a3d {
  width:100% !important;
}

.SO__general_form .form_label,
.about__form .form_label {
  margin: 0px 0px 5px 0px;
  text-align: center;
}

.SO__general_form .action,
.about__form .action{
  margin: 0px auto;
}

.SO__general_form .formbox,
.about__form .formbox {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 0.8em;
  box-shadow: 0px 0px 11px 0px #999999;
}

.SO__general_form .formbox .form_responses .form_response,
.about__form .formbox .form_responses .form_response{
  margin-bottom: 0.5em;
}

.SO__general_form .formbox .form_responses .form_response input[type="checkbox"],
.about__form .formbox .form_responses .form_response input[type="checkbox"]{
  margin: 0;
}

.SO__general_form .formbox .form_question fieldset .form_label,
.about__form .formbox .form_question fieldset .form_label{
  margin-bottom: 0.5em;
}

.SO__general_form .formbox .form_question fieldset,
.about__form .formbox .form_question fieldset{
  padding: 0 0.5em !important;
}

.SO__general_form .formbox .form_question,
.about__form .formbox .form_question{
  margin: 0 !important;
  padding: 0.3em 0.1em !important;
}

.about__form #form_d6868379-cef9-48b3-8ca6-f7c4a58ac184{
  background-color: #FFFFFF;
}

#formAbout{
  background-color: #2E2E2E;
  min-height: 661px;
}

.SO__general_form .action button,
.about__form .action button{
  text-transform:uppercase;
  border-radius: 8px;
  padding: 0 20px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  color: white;
  font-size: 27px;
  border: none;
  display: inline-block;
  min-width: 320px;
  text-align: center;
  background-color: #009EE0;
  cursor:pointer;
  margin:1em auto;
  height:75px;
  line-height:75px;
}

.SO__general_form .action button:hover,
.about__form .action button:hover {
  background-color: #006b98;
}

.SO__general_form .action,
.about__form .action {
  text-align:center;
}

.about__desc [class*="cta__"] {
  position: absolute;
  bottom: 17px;
  left: 50%;
  transform: translateX(-50%);
}

.about__desc [class*="cta__"][data-title="SUNY Online"] {
  display:none;
}

@media screen and (max-width:48em) {
  
  #formAbout.tri {
      padding-left:0;
      padding-right:0;
  }
  .about__desc {
    text-align:center;
    padding-bottom:8em;
  }
  
  .about__desc h3, .about__form h3, .SO__general_form h3 {
   	font-size:30px; 
  }
  
  .about__desc p {
   	font-size:20px; 
  }
  
  .SO__general_form .form_question, .about__form .form_question {
    padding:0;
   	width:100% !important; 
  }
  
  .form_checkbox .form_response label {
   	font-size:20px !important; 
  }
  
  .form_responses > .form_response {
   	padding-right:25px !important;
    width:100% !important;
  }
  
  .SO__general_form .action button, .about__form .action button {
	min-width:auto;
    width:100%;
    max-width:320px;
    font-size:20px;
  }
}

/* Featured Programs Styling */

#featuredPrograms {
    background-color: #2E2E2E;
    color:white;
}
#featuredPrograms p {
    font-size: 24px;
}
    
.featured_programs {
    width:100%;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.featured_program__box {
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 8px;
    padding:2em 0;
    width:100%;
    max-width:450px;
    display:inline-block;
}

.featured_program__box:hover {
  cursor:pointer;
}

.featured_program__box[data-list="undefined"] {
 	visibility:hidden !important; 
}

.featured_program__box h4 {
    background-color: #009EE0;
    color: white;
    text-align: center;
    font-size:22px;
    text-transform: uppercase;
    padding:1em;
  	margin-bottom:0;
}
.featured_program__box p{
    text-align: center;
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: #3b3b3b;
}
.featured_program__image {
    width:100%;
    height:220px;
    background-size:auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display:block;
}

.featured_program__box [id*="program__metadata"] {
 	display:block; 
}

.filter__program span {
  display:block;
}

/* Program List Styling */

.program__link {
  	width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:5;
}

#single__program_output input[type="text"] {
  border: none;
    border-bottom: 1px solid rgba(0, 76, 147, 0.31);
    border-radius: 0px;
    height: 50px;
    background: white;
    line-height: 40px;
    padding: 5px 32px 5px 10px;
    width: 100%;
    margin: 2em 0 0 0;
  	font-size:24px;
  	outline:none;
  color:#009EE0;
}
#single__program_output input[type="text"] + i {
    position: absolute;
    right: 0;
    font-weight: 900;
    top: 60px;
    font-size: 22px;
    color: #009EE0;
}

#single__program_output .list [id*="program__metadata"] {
  display: block;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1), -2px -2px 5px rgba(0,0,0,0.1), 2px -2px 5px rgba(0,0,0,0.1), -2px 2px 5px rgba(0,0,0,0.1);
}

#single__program_output .list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}

#single__program_output .list.filtered,
#single__program_output .list.searched,
#single__program_output .list {
    justify-content: start;
 	left:-15px;
    right:-15px;
  	//width: calc(100% + 30px);
  	position:relative;
}

.single__program_box {
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 8px;
    width:calc(25% - 30px);
    display:inline-block;
  	margin-bottom:30px;
  	position:relative;
}

@media screen and (min-width:48em) and (max-width:63.938em) {
  #single__program_output .list.filtered .single__program_box,
  #single__program_output .list.searched .single__program_box,
  #single__program_output .list .single__program_box {
    margin-left: 2.87% !important;
    width: 45%;
    margin-right: 15px;
}
  
  .single__program_box h4 {
  	background-color: #002b54;
    color: white;
    text-align: center;
    font-size: 14px !important;
    text-transform: uppercase;
    padding: 1em;
    margin-bottom: 0;
  }
}

#single__program_output .list.filtered .single__program_box,
#single__program_output .list.searched .single__program_box,
#single__program_output .list .single__program_box {
  margin-left:15px;
  margin-right:15px;
}

.single__program_box h4 {
    background-color: #002b54;
    color: white;
    text-align: center;
    font-size:16px;
    text-transform: uppercase;
    padding:1em;
  margin-bottom:0;
}

.featured_program__box h5,
.single__program_box h5 {
  color: white;
  font-size: 16px;
    background: #549e4b;
    margin: 0 0 2em 0;
    padding: 10px;
}

.single__program_box p{
    text-align: center;
    font-size: 16px;
    padding: 0 0 1.5em 0;
    margin: 0;
    color: #3b3b3b;
}
.single__program_box .featured_program__image {
    width:100%;
    height:200px;
    background-size:auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display:block;
}

.single__program_box [id*="program__metadata"],
.featured_program__box [id*="program__metadata"] {
 	display:block; 
}

.filter__program span {
  display:block;
}

#single__program_output {
  margin-bottom: 2em;
    width: 100%;
}

#single__program_output ul.filter {
  list-style-type:none !important;
  padding:0;
  width:100%;
}

#single__program_output ul.filter > li {
  display:inline-block;
  margin-right:10px;
}

#single__program_output ul.filter > li > a {
  width:auto !important;
  min-width:0 !important;
  margin:0 0 10px 0 !important;
}

@media screen and (min-width:47.939em) and (max-width:63.938em) { 
  
  .single__program_box .featured_program__image,
  .featured_program__image {
   	height:120px; 
  }
  
  .featured_program__box h4 {
    font-size:18px;
  }
  
  #featuredPrograms p {
   	font-size:18px; 
  }
  
  .featured_program__box {
    margin-bottom: 20px;
    margin-left: 18%;
  }
  
  #single__program_output .filter {
   	display:none; 
  }
  
  #single__program_output .list {
   	display:block;
    
  }
  
  .single__program_box {
    width:100%;
  }

}

@media screen and (max-width:47.938em) {
  .single__program_box .featured_program__image,
  .featured_program__image {
   	height:120px; 
  }
  
  .featured_program__box h4 {
    font-size:18px;
  }
  
  #featuredPrograms p {
   	font-size:18px; 
  }
  
  .featured_program__box {
   	margin-bottom:20px; 
  }
  
  #single__program_output .filter {
   	display:none; 
  }
  
  #single__program_output .list {
   	display:block;
    
  }
  
  .single__program_box {
    width:100%;
  }
}

/* Graduate Jobs Styling */

#ourGradsTitle {
 	padding-bottom:2em; 
}

.grads__list {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
  	list-style-type:none;
  	padding:0;
}

.grads__list > li {
  	width: 20%;
    display: inline-block;
    text-align: center;
}

.grad__image {
    height: 200px;
    position: relative;
    width: 100%;
    margin-bottom: 2em;
}

.grad__image > img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100% !important;
    height: auto !important;
}

.grad__description {
    font-size: 22px;
    font-weight: 600;
}

@media screen and (min-width:47.939em) and (max-width:63.938em) { 
  .grads__list {
   	display:block; 
  }
  
  .grads__list > li {
   	width:50%; 
  }
  
  .grad__image {
      height: 125px;
      position: relative;
      width: 100%;
      margin-bottom: 2em;
  }
  
  .grad__description {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 2em;
  }
}

@media screen and (max-width:47.938em) {
  .grads__list {
   	display:block; 
  }
  
  .grads__list > li {
   	width:50%; 
  }
  
  .grad__image {
      height: 125px;
      position: relative;
      width: 100%;
      margin-bottom: 2em;
  }
  
  .grad__description {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 2em;
  }
  
  
}

/* Graduate Quotes Styling */

.quotes__list {
  display: flex;
    list-style-type: none;
    padding: 0;
    width: 100%;
    right: 0;
    position: relative;
    justify-content: flex-end;
  	z-index:10;
}

li.quote__container {
    width: 25%;
    margin-left: 1em;
    background-color: #54b948;
    padding: 0 2em;
    border-radius: 8px;
    text-align: justify;
}

.quote__container p {
    font-size: 24px;
}

.quote__container span {
    display: block;
    font-size: 16px;
    text-align: right;
    margin: 1em 0;
}

.SO__grad_quotes {
  position:relative;
  padding-bottom:2em;
}

.quotes__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 35vw;
    height: 100%;
    background-size: cover;
    background-position: center center;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%, 0% 50%);
}

.pagination {
  list-style-type:none;
  padding:0;
  text-align:center;
  margin:0 auto;
}

.pagination > li {
  margin:5px;
  display:inline-block;
}

.pagination > li > a {
  width:auto !important;
  min-width:auto !important;
  margin:0 !important;
}

@media screen and (min-width:47.939em) and (max-width:63.938em) { 
      .SO__grad_quotes {
      padding-top: 200px;
    }

    .quotes__list {
      display: block;
    }

    li.quote__container {
        width: 100%;
        margin-left: 0;
        padding: 1em 2em;
        text-align: left;
        margin-bottom: 1.5em;
      }

    .quote__container p {
        font-size: 20px;
    }

    .quotes__background {
        width: 100vw;
        height: 360px;
        clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
    }

    .grad__image > img {
      max-width: 60% !important;
    }
}

@media screen and (max-width:47.938em) {
  .SO__grad_quotes {
    padding-top: 200px;
  }
  
  .quotes__list {
    display: block;
  }
  
  li.quote__container {
      width: 100%;
      margin-left: 0;
      padding: 1em 2em;
      text-align: left;
      margin-bottom: 1.5em;
	}
  
  .quote__container p {
      font-size: 20px;
  }
  
  .quotes__background {
      width: 100vw;
      height: 360px;
      clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
  }
  
  .grad__image > img {
    max-width: 60% !important;
  }
}

/*  General Form Styling */

.form_question.form_checkbox {
    width: 100% !important;
}

.SO__general_form {
    background: rgb(153,153,153);
    background: linear-gradient(180deg, rgba(153,153,153,1) 0%, rgba(231,231,231,1) 100%);
    border-radius: 18px;
    padding: 0 0 2em 0;
    box-sizing: border-box;
    display: inline-block;
}

.form_responses > .form_response {
  display:inline-block;
  margin-right:25px;
  margin-left:25px;
  margin-bottom:15px;
}

.form_checkbox .form_response input {
 	opacity:0; 
  	position:absolute;
}

.form_checkbox .form_response label {
 	position:relative;
  	font-size:22px;
  display:inline-block;
  vertical-align:middle;
}

.form_checkbox .form_response label:before {
  	content: '';
    border: 2px solid #7fc4fd;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -30px;
    top: 2px;
    border-radius: 3px;
}

.form_checkbox .form_response label:after {
  	content: '\f00c';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #2699fb;
    position: absolute;
    left: -25px;
    top: 7px;
    font-size: 15px;
  	display:none;
}

.form_checkbox .form_response input[type="checkbox"]:checked + label:after {
 	display:block; 
}

.form_checkbox ~ .form_checkbox {
  width:60% !important;
  vertical-align:middle;
}

.form_checkbox + .form_select {
 	width:40% !important;
  	vertical-align:middle;
}

.about__form .form_checkbox + .form_select select {
 	height: 40px;
    margin: -10px 0 0 0;
    line-height: 40px;
    font-size: 17px;
}

.about__form select, .about__form input {
  color:#757579 !important;
}

a[class*="cta__"][href=""] {
  display:none;
}

div.form_question {
  margin:0 !important;
}

@media screen and (min-width:47.939em) and (max-width:63.938em) { 

.form_checkbox ~ .form_checkbox {
   	width:100% !important; 
  }
  
  .form_checkbox + .form_select {
   	width:100% !important; 
  }
  
}

@media screen and (max-width:47.938em) {
  
  .form_checkbox ~ .form_checkbox {
   	width:100% !important; 
  }
  
  .form_checkbox + .form_select {
   	width:100% !important; 
  }
  
}

/* Program Description Styling */

[class*="program_infobox__"] {
  height: 15em;
  margin-bottom: 25px;
  width: 100%;
  position:relative;
}

[class*="program_infobox__"] p{
  text-align: center;
}

.program_infobox__green {
  background-color: #54b948;
}
.program_infobox__blue {
  background-color: #004C93;
}

.program_description {
  padding:2em 2em 2em 0;
  color:#2e2e2e;
}

.program_description p {
  font-size: 22px; 
}
ul {
  font-size: 22px; 
}

.infobox_section {
  position:relative;
  top:-100px;
  margin-bottom:-200px;
}

.has_arrow:after {
  content:'';
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  position: absolute;
  bottom: -50px;
  left: calc(50% - 40px);
  z-index: 10;
  pointer-events: none;
}

.program_infobox__green.has_arrow:after {
  border-top: 50px solid #54b948;
}

.program_infobox__blue.has_arrow:after {
  border-top: 50px solid #004C93;
}

.program_description > img {
 max-height:100%;
  max-width:100%;
}

.infobox__image {
  width: 185px;
  height: 100%;
  display: inline-block;
  position:relative;
}

.infobox__description {
    color: white;
    padding: 8% 1%;
    display: inline-block;
    width: calc(100% - 195px);
    height: 100%;
    vertical-align: bottom; 
  	font-size: 1vw;
}

.infobox__image > img {
 	display: block;
    margin-bottom: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px !important;
    height: auto !important; 
}

.infobox__image[data-content=""] {
  display:none;
}

.infobox__image[data-content=""] + .infobox__description {
  width:100%;
}

.infobox__description.courses {
    font-size: 26px;
}

.infobox__description.courses > span {
    font-size: 20px;
    display: block;
}

@media screen and (min-width:47.939em) and (max-width:63.938em) {

  .infobox__description.courses {
   	font-size: 25px;
  }

  .infobox__description.courses > span {
      font-size: 18px;
  }
  
  .infobox_section {
      position: relative;
      top: 0;
      margin-bottom: 2em;
  }
  
  [class*="program_infobox__"] {
      height: auto;
      margin-bottom: 25px;
      width: 100%;
      position: relative;
      text-align: center;
  }
  
  .infobox__image {
    display: none;
  }
  
  .infobox__description {
      font-size: 18px;
      width: 100%;
      height: 100%;
      vertical-align: top;
      padding: 8% 2%;
  }
  
  .has_arrow:after {
    bottom: -45px;
  }

}

@media screen and (max-width:47.938em) {
  
  .infobox__description.courses {
   	font-size: 25px;
  }

  .infobox__description.courses > span {
      font-size: 18px;
  }
  
  .infobox_section {
      position: relative;
      top: 0;
      margin-bottom: 2em;
  }
  
  [class*="program_infobox__"] {
      height: auto;
      margin-bottom: 25px;
      width: 100%;
      position: relative;
      text-align: center;
  }
  
  .infobox__image {
    display: none;
  }
  
  .infobox__description {
      font-size: 18px;
      width: 100%;
      height: 100%;
      vertical-align: top;
  }
  
  .has_arrow:after {
    bottom: -45px;
  }
}

/* About the Program Styling */

.about_program__padding {
 	padding: 100px 1em 1em 1em;
  	width:100%;
  	max-width:33%;
  	display:inline-block;
}

.about_program__box {
 	background:white;
  	border-radius:8px;
  	color:#2E2E2E;
  	position:relative;
  min-height: 45em;
}

.about_program__icon {
  background:#54B948;
  border:10px solid #2E2E2E;
  border-radius:50%;
  width:198px;
  height:198px;
  position:absolute;
  top:-100px;
  left:calc(50% - 100px);
}

.about_program__icon[data-content=""] {
  display:none;
}

.about_program__icon > img {
  max-width:100px;
  max-height:100px;
  width:auto;
  height:auto;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

.about_program__content ul {
  list-style-type:none;
  padding:0;
  text-align:left;
}

.about_program__content ol {
  counter-reset: item;
  list-style-type: none;
  positioN:relative;
  text-align:left;
}

.about_program__content ol li { 
  display: block; 
}

.about_program__content li { 
  margin-bottom:1em;
}


.about_program__content {
  	padding:100px 2em 2em 2em;
  	font-size:26px;
}

.degreeInfoSection,
.flex__justify {
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.aboutDegreeSection {
 	padding-bottom:275px; 
}

@media screen and (min-width:47.939em) and (max-width:63.938em) {
  
 .degreeInfoSection {
	display:block;
  }
  
  .about_program__padding {
    padding: 100px 1em 1em 1em;
    width: 100%;
    max-width: 100%;
  }
  
  .about_program__content {
      padding: 100px 1em 1em 1em;
      font-size: 30px;
  }
  
  .about_program__content ol,
  .about_program__content ul {
      font-size: 18px;
  }
  
}

@media screen and (max-width:47.938em) {

  .degreeInfoSection {
	display:block;
  }
  
  .about_program__padding {
    padding: 100px 1em 1em 1em;
    width: 100%;
    max-width: 100%;
  }
  
  .about_program__content {
      padding: 100px 1em 1em 1em;
      font-size: 30px;
  }
  
  .about_program__content ol,
  .about_program__content ul {
      font-size: 18px;
  }
  
}

/* How to Apply Styling */

.howToApply {
    margin-top: -270px;
    color: white;
}

.apply__boxes [class*="program_infobox__"] {
  height: 15em;
  margin-bottom: 25px;
  width: 100%;
  position:relative;
  display:inline-block;
  max-width:calc(33.33% - 7px);
}

.apply__boxes [class*="program_infobox__"] .infobox__image {
  width:150px;
}

.apply__boxes [class*="program_infobox__"] .infobox__image > img {
    top: 46%;
    width: 81px !important;
}

.apply__boxes .has_arrow:after {
  content:'';
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right:none;
  position: absolute;
  right: -50px;
  top: calc(50% - 40px);
  z-index: 10;
  pointer-events: none;
  bottom:auto;
  left:auto;
}

.apply__boxes .program_infobox__green.has_arrow:after {
  border-left: 50px solid #54b948;
}

.apply__boxes .program_infobox__blue.has_arrow:after {
  border-left: 50px solid #004C93;
}

body[data-page="Home"] #formAbout,
body[data-page="SUNY Online"] #formAbout,
#formAbout.program__form {
  	background:#ffffff;
}

body[data-page="Home"] #formAbout .about__form,
body[data-page="SUNY Online"] #formAbout .about__form,
#formAbout.program__form .about__form {
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1), -2px -2px 8px rgba(0,0,0,0.1);
}

.industry_list__small .icon__home,
.industry_list__small .icon__list,
.industry_list__small .category_list__more_info,
.industry_list__small p,
.industry_list__program,
.industry_list__small .category_list__close {
  display:none;
}

.industry_list__small {
    list-style-type:none;
    padding:0;
    margin:0;
}

.industry_list__small > li {
 	display: inline-block;
    width: 100%;
    max-width: calc(33% - 0.5em);
    text-align: center;
    position: relative;
    vertical-align: top;
    min-height: 175px;
    margin-bottom: 2em;
    margin-right: 0.5em;
}

.industry_list__small > li .icon__program {
 	height:100px;
  	margin:10px auto;
  	display:block;
}

.industry_list__small > li strong {
 	min-height:55px;
  	display:block;
}

.industry_list__small > li a {
  	color:white;
  	font-size:22px;
  	text-transform:uppercase;
}

@media screen and (min-width:47.939em) and (max-width:63.938em) { 
  
.apply__boxes .has_arrow:after {
    content:'';
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    bottom: -45px;
    left: calc(50% - 40px);
    z-index: 10;
    pointer-events: none;
    border-bottom:none;
    border-left:none;
    right:auto;
   	top:auto;
  }

  .apply__boxes .program_infobox__green.has_arrow:after {
    border-top: 50px solid #54b948;
    border-left: 40px solid transparent;
  }

  .apply__boxes .program_infobox__blue.has_arrow:after {
    border-top: 50px solid #004C93;
    border-left: 40px solid transparent;
  }

  .apply__boxes [class*="program_infobox__"] {
	height: auto;
    margin-bottom: 25px;
    width: 100%;
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  
  .howToApply {
    margin-top:2em;
    color:black;
  }
  
  .aboutDegreeSection {
   	padding-bottom:4em; 
  }
}

@media screen and (max-width:47.938em) {
  
  .apply__boxes .has_arrow:after {
    content:'';
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    bottom: -45px;
    left: calc(50% - 40px);
    z-index: 10;
    pointer-events: none;
    border-bottom:none;
    border-left:none;
    right:auto;
   	top:auto;
  }

  .apply__boxes .program_infobox__green.has_arrow:after {
    border-top: 50px solid #54b948;
    border-left: 40px solid transparent;
  }

  .apply__boxes .program_infobox__blue.has_arrow:after {
    border-top: 50px solid #004C93;
    border-left: 40px solid transparent;
  }

  .apply__boxes [class*="program_infobox__"] {
	height: auto;
    margin-bottom: 25px;
    width: 100%;
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  
  .howToApply {
    margin-top:2em;
    color:black;
  }
  
  .aboutDegreeSection {
   	padding-bottom:4em; 
  }
}

/* General Styles */

.no__overlap {
  padding:4em 0;
}

.has__overlap {
  margin-top:-100px; padding-bottom:4em;
}

.phone__number a {
    color: white;
    font-size: 22px;
    font-weight: 600;
}
.phone__number a:hover {
   color: #009EE0;
}
.phone__number a img {
  margin-right:15px;
}

.md-quarter .phone__number {
 	position:absolute;
  top:6.3em;
  
}

/* Randimised Feature Styles */

.program_form__features {
  list-style-type:none;
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  display:block;
}

.program_form__features li {
  display:none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 2em;
  width: 100%;
}

.program_form__features li.active {
  display:block;
}

.program_form__features h2 {
  color:white;
}

.program_form__title {
  color: white;
    font-size: 24px;
    font-weight: 900;
    position: absolute;
    top: 4em;
    width: calc(100% - 4em);
    left: 2em;
}

.program_form__title:after {
    content: '';
    width: 100%;
    height: 1px;
    background: white;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.program_form__subtitle {
  	position: absolute;
    bottom: 4em;
    left: 2em;
    width: calc(100% - 4em);
    height: 67px;
    font-size: 24px;
}

.program_form__subtitle:after {
    content: '';
    width: calc(100% - 117px);
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0;
}
.program_form__subtitle > img {
	width: 85px !important;
    height: auto !important;
    position: absolute;
    right: 0;
    top: 0;
}

.full__link {
 	position:absolute;
  z-index:10;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

/* Mobile Styles - General */

@media screen and (min-width: 47.939em) and (max-width:63.938em) {
 h2, h3 {
  	font-size:30px; 
 }
  
  p {
    font-size:20px;
  }
  
  .flex__justify,
  .flex__justify.tri {
   	display:block; 
  }
  
  #footerImage,
  footer h4 {
   	margin-top:2em; 
  }
  
  .no__overlap {
    padding:4em 0;
  }

  .has__overlap {
    margin-top:0; padding-bottom:2em;
  }
  
  .program__form .about__desc {
   	display:none; 
  }
  
  .social__list + .phone__number {
   	margin-top:20px; 
  }
  
  .mobile_menu__container h4 {
 		margin-top:4em; 
	}
}

@media screen and (max-width:47.938em) {
  
 h2, h3 {
  	font-size:30px; 
 }
  
  p {
    font-size:20px;
  }
  
  .flex__justify,
  .flex__justify.tri {
   	display:block; 
  }
  
  #footerImage,
  footer h4 {
   	margin-top:2em; 
  }
  
  .no__overlap {
    padding:4em 0;
  }

  .has__overlap {
    margin-top:0; padding-bottom:2em;
  }
  
  .program__form .about__desc {
   	display:none; 
  }
  
  .social__list + .phone__number {
   	margin-top:20px; 
  }
  
  .mobile_menu__container h4 {
 		margin-top:4em; 
	}
}

/* Smaller than Max Width CSS */
@media screen and (max-width:1600px) {
    body > .tri {
        padding-left:2em;
        padding-right:2em;
    }
}




































