/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require bootstrap3/bootstrap-multiselect
 *= require bootstrap-datepicker3
 *= require bootstrap3/bootstrap
 *= require ribbon
 *= require chardinjs
 *= require programs
 */


@import 'components/filterrific_filter';
@import 'components/chardinjs_overrides.css.scss';


textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
  -o-transition: border linear 0.2s,box-shadow linear 0.2s;
  transition: border linear 0.2s,box-shadow linear 0.2s;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #fff !important; 
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #fff !important;
}

.navbar-static-top {
    margin-left: 30px !important;
}
.navbar-fixed-top {
	background-color: #ffffff !important;
}
.navbar-collapse {
	    padding: .625rem 0;
}

@media (min-width: 768px) {
 .navbar-text {
	float: right !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	}
}

.rounded-button.green {
    background-color: #3a8632;
    border: 1px solid #3a8632;
    color: #fff !important;
	border-radius: 3px;
}
.rounded-button.small {
     padding: .70rem .625rem !important;
     font-weight: 400 !important;
     line-height: 1.25rem !important;
	 max-width: 75px
}
.rounded-button.medium {
     padding: .70rem .625rem !important;
     font-weight: 400 !important;
     line-height: 1.25rem !important;
	 max-width: 150px
}
   
select {
  /*width: 220px;*/
  border: 1px solid #ccc;
  background-color: #fff;
}

select, input[type="file"] {
  height: 30px;
  line-height: 30px;
}

.reset_link a{
  color: #034d8f !important;
  text-decoration: none !important;
}

a {
  color: #034d8f !important;
  text-decoration: none !important;
}

.apply_now{
  color: #fff !important;
}
.apply_now a:visited {
  color: #fff !important;
}
.jumbotron {
  color: white;
  background-image: url("https://sunyonline.edu//media/suny-online-/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:500px;
  flex-direction: column;
  padding: 9.375rem 0 !important;
}
.jumbotron h1 {
    display: inline-block;
    margin-bottom: 10px;
	color: #ffffff !important;
    font-size: 1.75rem !important;
    font-weight: 600 !important;
    line-height: 1.5rem !important;
}
.jumbotron h2 {
    display: inline-block !important;
    width: 39.375rem !important;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.125rem !important;
    font-weight: 300;
    line-height: 1.5625rem;
    max-width: 39.375rem;
	color: #ffffff !important;
}
.jumbotron form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-basis: auto;
}

.jumbotron select {
    margin: 0;
    border-radius: 3px 0 0 3px;
}
.jumbotron select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3.125rem;
    width: 18%;
    flex-basis: auto;
    font-size: .875rem;
    font-weight: 300;
    color: #545454;
    border: 1px solid #a7a7a7;
    border-right: 0;
    border-radius: 3px 0 0 3px;
	    display: block;
	    position: relative;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    margin: 0;
	    padding: .5rem .75rem;
	    line-height: 1.25rem;
	    background-color: #fff;
	    background-image: url(//d2brwuimzb4ax4.cloudfront.net/global/shared/icons/forms/select_arrow_down.png);
	    background-position: calc(100% - 10px) center;
	    background-repeat: no-repeat;
	    cursor: pointer;
}
.jumbotron input {
    margin: 0 0 5px 0;
    border-radius: 0;
}
.jumbotron  input {
    height: 3.125rem;
    width: 50%;
    flex-basis: auto;
    border: 1px solid #a7a7a7;
    border-right: none;
    padding: .5rem .75rem;
	font-size: .875rem;
    font-weight: 300;
    line-height: 20px;
    color: #333;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.3);
    background-color: #fff;
}

.jumbotron  button {
    height: 3.125rem;
    padding: .5rem .75rem;
    background-color: #004c93;
    border: 1px solid #004c93;
    border-left: 0;
    border-radius: 0 3px 3px 0;
    font-size: .875rem;
    font-weight: 300;
    color: #fff;
	 margin: 0;
    cursor: pointer;
}
.row-search{
    display: flex;
    flex-flow: row wrap;
    max-width: 1000px;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80%;
    box-sizing: border-box;
    justify-content: center;
}

.service-div{
  float:left; width:15%;
}

.icon-div{
 float:left; 
 width:85%;
 padding-left:5px;
}

.landing-text-1{
  padding-bottom:25px;
}
.iframe{
  align:center;
  width:960px;
  height:363px;
  max-width:100%;
  overflow:hidden;
  border:none;
  padding:0;
  display:block;
  margin:auto;
}

#filterrific_with_school_id{
 width: 250px;
}


.os-logo {
    float: right;
    margin-top: -60px;
    margin-bottom: 0px!important;
    max-width: 146px;
}