/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require bootstrap3/bootstrap-multiselect
 *= require bootstrap-datepicker3
 *= require bootstrap3/bootstrap
 */


@import 'components/filterrific_filter';
@import 'components/chardinjs_overrides.css.scss';
@import 'chardinjs.css';

a {
  color: #00539C;
  text-decoration: underline !important;
}

a:visited{
  color: #fff !important;
  text-decoration: underline !important;
}


textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
  -o-transition: border linear 0.2s,box-shadow linear 0.2s;
  transition: border linear 0.2s,box-shadow linear 0.2s;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}


select {
  /*width: 220px;*/
  border: 1px solid #ccc;
  background-color: #fff;
}

select, input[type="file"] {
  height: 30px;
  line-height: 30px;
}
.navbar-inverse {
  background: #034d8f !important;
  background: -moz-linear-gradient(top, #034d8f 0%, #003c78 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #034d8f), color-stop(100%, #003c78)) !important;
  background: -webkit-linear-gradient(top, #034d8f 0%, #003c78 100%) !important;
  background: -o-linear-gradient(top, #034d8f 0%, #003c78 100%) !important;
  background: -ms-linear-gradient(top, #034d8f 0%, #003c78 100%) !important;
  background: linear-gradient(to bottom, #034d8f 0%, #003c78 100%) !important;
}

.navbar-nav>li {
border-right: 1px solid #306aa2 !important;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff !important;
}


.navbar-inverse .navbar-nav>.open>a{
	background-color: #01336f !important;
}
.service-div{
  float:left; width:15%;
}

.icon-div{
 float:left; 
 width:85%;
 padding-left:5px;
}

.landing-text-1{
  padding-bottom:25px;
}
.iframe{
  align:center;
  width:960px;
  height:363px;
  max-width:100%;
  overflow:hidden;
  border:none;
  padding:0;
  display:block;
  margin:auto;
}