 .modals{
    z-index:9999
}
 .modal{
    z-index: 9999 !important;
   // visibility:hidden;
    display:flex;
    position:fixed;
    justify-content:center;
    align-content:center;
    align-items:center;
    top:0;
    right:0;
    bottom:0;
    left:0;
    overflow-x:hidden;
    overflow-y:auto
}
.modal>.modal-mask{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    visibility:hidden;
    opacity:0;
    background-color:#000;
    transition:opacity 300ms ease-out,visibility 300ms ease-out
}
.modal>.modal-content{
    position:relative;
    //visibility:hidden;
    transform:translate(0,-10%);
    background-color:#f5f5f5 !important;
    border-radius:.1875rem !important;
    border-top:5px solid #ffe512 !important;
    opacity:0;
    transition:opacity 200ms ease-out,transform 200ms ease-out;
    z-index:4444
}

.modal-content {
    position: relative;
    background-color: #f5f5f5 !important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
	border-top:5px solid #D44572 !important;
    border-radius: .1875rem !important;
    outline: 0;

}
.modal>.modal-container.large{
    align-self:flex-start
}
@media screen and (max-width:550px){
    .modal>.modal-container{
        width:100%!important
    }
}
.modal .modal-body{
    padding:1.875rem
}
.modal .close-modal{
    position:absolute;
    right:10px;
    top:-5px;
    display:flex;
    width:1.875rem;
    height:1.875rem;
    justify-content:flex-end;
    align-self:flex-end;
    transform:rotate(45deg);
    font-size:1.875rem;
    font-weight:700;
    color:#545454;
    cursor:pointer
}
.modal .close-modal button{
    background:0 0;
    border:0
}
.modal.visible{
    visibility:visible;
    z-index:4343
}
.modal.visible>.modal-mask{
    visibility:visible;
    opacity:.7;
    z-index:4343
}
.modal.visible>.modal-container{
    visibility:visible;
    transform:translate(0,0);
    opacity:1
}
.fade.in {
    opacity: 1;
z-index:4343
}

div.form_question {
    box-sizing: border-box !important;
    margin: .3125rem !important;
    padding: 0 !important;
    width: 47% !important;
}

div.form_question.form_question_bbe8d595-f6f8-4db4-adf0-71fa63852160{
	width: 96% !important;
}

.action.form_action{
    display: flex;
    justify-content: center;
}
#form_question_1c433c83-b561-4a8a-8a0b-56254fac2034{
	width:96% !important;
}
#form_question_0d1a8b92-58d6-4472-9c73-e53e74f9344c{
	width:96% !important;
}

.action.form_action button{
	background-color: #00539B;
	border: 1px solid #00539B;
	color: #fff;
	padding: .9375rem 1.25rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25rem;
	margin-top: .9375rem;
}
.action button{
	background-color: #3a8632;
	border: 1px solid #3a8632;
	color: #fff;
	padding: .9375rem 1.25rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25rem;
	margin-top: .9375rem;
	text-align:center;
}
.action{
	text-align:center;
}
.action button:hover{
	color: #fff;
		background-color: #87ce7f;
		box-shadow: 0 0 0.9375rem 0 ;
		border: 1px solid #87ce7f;
}

.action.form_action button:hover{
	color: #fff;
		background-color: #00539B;
		box-shadow: 0 0 0.9375rem 0 ;
		border: 1px solid #00539B;
}
.form_label{
		display: block;
	    margin: 0 0 .3125rem 0;
	    font-size: .9375rem;
	    font-weight: 400;
	    line-height: 1.25rem;
	    color: #545454;
}

.modal-header h1 {
    margin-bottom: .5rem;
}




 .modals{
    z-index:9999
}
 .modal1{
    z-index: 9999 !important;
   // visibility:hidden;
    display:flex;
    position:fixed;
    justify-content:center;
    align-content:center;
    align-items:center;
    top:0;
    right:0;
    bottom:0;
    left:0;
    overflow-x:hidden;
    overflow-y:auto
}
.modal1>.modal-mask{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    visibility:hidden;
    opacity:0;
    background-color:#000;
    transition:opacity 300ms ease-out,visibility 300ms ease-out
}
.modal1>.modal-content1{
    position:relative;
    //visibility:hidden;
    transform:translate(0,-10%);
    background-color:#f5f5f5 !important;
    border-radius:.1875rem !important;
    border-top:5px solid #ffe512 !important;
    opacity:0;
    transition:opacity 200ms ease-out,transform 200ms ease-out;
    z-index:4444
}

.modal-content1 {
    position: relative;
    background-color: #f5f5f5 !important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
	border-top:5px solid #ffe512 !important;
    border-radius: .1875rem !important;
    outline: 0;

}
.modal1>.modal-container.large{
    align-self:flex-start
}
@media screen and (max-width:550px){
    .modal1>.modal-container{
        width:100%!important
    }
}
.modal1 .modal-body{
    padding:1.875rem
}
.modal1 .close-modal{
    position:absolute;
    right:10px;
    top:-5px;
    display:flex;
    width:1.875rem;
    height:1.875rem;
    justify-content:flex-end;
    align-self:flex-end;
    transform:rotate(45deg);
    font-size:1.875rem;
    font-weight:700;
    color:#545454;
    cursor:pointer
}
.modal1 .close-modal button{
    background:0 0;
    border:0
}
.modal1.visible{
    visibility:visible;
    z-index:4343
}
.modal1.visible>.modal-mask{
    visibility:visible;
    opacity:.7;
    z-index:4343
}
.modal1.visible>.modal-container{
    visibility:visible;
    transform:translate(0,0);
    opacity:1
}
.fade.in {
    opacity: 1;
z-index:4343
}

div.form_question {
    box-sizing: border-box !important;
    margin: .3125rem !important;
    padding: 0 !important;
    width: 47% !important;
}

div.form_question.form_question_bbe8d595-f6f8-4db4-adf0-71fa63852160{
	width: 96% !important;
}

.action.form_action{
    display: flex;
    justify-content: center;
}
#form_question_1c433c83-b561-4a8a-8a0b-56254fac2034{
	width:96% !important;
}
#form_question_0d1a8b92-58d6-4472-9c73-e53e74f9344c{
	width:96% !important;
}

.action.form_action button{
	background-color: #00539B;
	border: 1px solid #00539B;
	color: #fff;
	padding: .9375rem 1.25rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25rem;
	margin-top: .9375rem;
}
.action button{
	background-color: #3a8632;
	border: 1px solid #3a8632;
	color: #fff;
	padding: .9375rem 1.25rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25rem;
	margin-top: .9375rem;
	text-align:center;
}
.action{
	text-align:center;
}
.action button:hover{
	color: #fff;
		background-color: #87ce7f;
		box-shadow: 0 0 0.9375rem 0 ;
		border: 1px solid #87ce7f;
}

.action.form_action button:hover{
	color: #fff;
		background-color: #00539B;
		box-shadow: 0 0 0.9375rem 0 ;
		border: 1px solid #00539B;
}
.form_label{
		display: block;
	    margin: 0 0 .3125rem 0;
	    font-size: .9375rem;
	    font-weight: 400;
	    line-height: 1.25rem;
	    color: #545454;
}

.modal-header h1 {
    margin-bottom: .5rem;
}