.service-div{
  float:left; width:15%;
}

.icon-div{
 float:left; 
 width:85%;
 padding-left:5px;
}

.landing-text-1{
  padding-bottom:25px;
}
.iframe{
  align:center;
  width:960px;
  height:363px;
  max-width:100%;
  overflow:hidden;
  border:none;
  padding:0;
  display:block;
  margin:auto;
}