
	<section id="tuition" class="content">
		<header role="resource-banner" aria-label="Resource Navigation Banner">
			<nav class="row" aria-label="Resource Navigation Bar">
				<select class="show-mobile" aria-label="Visit Other SUNY Online Content Pages" id="resource-options">
					<option value="/content/faq" >FAQs</option>
					<option value="/content/military">Military &amp; Veterans</option>
					<option value="/content/transfer">Transferring Credits</option>
					<option value="/content/tuition-financial-aid" selected="">Tuition &amp; Financial Aid</option>
					<option value="/content/about">About SUNY Online</option>
				</select>
				<ul class="hide-mobile"><li>
					<a href="/content/faq" title="Find answers to common questions about SUNY Online programs and courses">FAQs</a></li>
					<li><a href="/content/military" title="Information for active and reserve duty military members and prior service military veterans">Military &amp; Veterans</a></li>
					<li><a href="/content/transfer" title="Information about transferring credits towards SUNY Online degree programs">Transferring Credits</a></li>
					<li class="selected"><a href="/content/tuition-financial-aid" title="Information about SUNY Online tuition and financial aid">Tuition &amp; Financial Aid</a></li>
					<li><a href="/content/about" title="Learn more about the Open State University of New York System">About SUNY Online</a></li>
				</ul>
			</nav>
		</header>
	<section class="row">
		<h1>Tuition &amp; Financial Aid</h1>
		<section>
			<h2>2019 - 2020 Estimated Tuition and Fees</h2>
			<p>Tuition and fees at SUNY are more than 10% lower than the national average for public universities and nearly 50% lower than those for for-profit institutions. The rates shown below are estimates and may vary based on the campus and program of study. You may also incur additional expenses not shown here, such as books and supplies. Contact your campus of interest for more details.</p>
		</section>
		<section>
			<h2>Part-Time<sup>1</sup> Student per Credit Hour</h2>
			<div class="half">
				<div class="table">
					<table>
						<caption>
							<h2>For New York Residents</h2>
						</caption>
						<thead>
							<tr>
								<th>Degree Type</th>
								<th>Tuition</th>
								<th>Fees</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Associate Degree<sup>2</sup></td>
								<td>$193</td><td>$15</td>
							</tr>
							<tr>
								<td>Bachelor's Degree</td>
								<td>$295</td><td>$68</td>
							</tr>
							<tr>
								<td>Master's of Business Admin</td>
								<td>$625</td>
								<td>$163</td>
							</tr>
							<tr>
								<td>Master's of Social Work</td>
								<td>$545</td>
								<td>$163</td>
							</tr>
							<tr>
								<td>Other Master's Degree</td>
								<td>$471</td>
								<td>$163</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="half">
				<div class="table">
					<table>
						<caption>
							<h2>For Out-of-State Residents<sup>3</sup></h2>
						</caption>
						<thead>
							<tr>
								<th>Degree Type</th>
								<th>Tuition</th>
								<th>Fees</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Associate Degree<sup>2</sup></td>
								<td>$402<sup>4</sup></td>
								<td>$15</td>
							</tr>
							<tr>
								<td>Bachelor's Degree</td>
								<td>$353</td>
								<td>$68</td>
							</tr>
							<tr>
								<td>Master's of Business Admin</td>
								<td>$750</td>
								<td>$163</td>
							</tr>
							<tr>
								<td>Master's of Social Work</td>
								<td>$654</td>
								<td>$163</td>
							</tr>
							<tr>
								<td>Other Master's Degree</td>
								<td>$565</td>
								<td>$163</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		<section>
			<h2>Full-Time Student per Academic Year</h2>
			<div class="half">
				<div class="table">
					<table>
						<caption>
							<h2>For New York Residents</h2>
						</caption>
						<thead>
							<tr>
								<th>Degree Type</th>
								<th>Tuition</th>
								<th>Fees</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Associate Degree<sup>2</sup></td>
								<td>$4,870<sup>4</sup></td>
								<td>$790</td>
							</tr>
							<tr>
								<td>Bachelor's Degree</td>
								<td>$7,070</td>
								<td>$1,710<sup>5</sup></td>
							</tr>
							<tr>
								<td>Master's of Business Admin</td>
								<td>$15,000</td>
								<td>$3,910</td>
							</tr>
							<tr>
								<td>Master's of Social Work</td>
								<td>$13,080</td>
								<td>$3,910</td>
							</tr>
							<tr>
								<td>Other Master's Degree</td>
								<td>$11,310</td>
								<td>$3,910</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="half">
				<div class="table">
					<table>
						<caption>
							<h2>For Out-of-State Residents<sup>3</sup></h2>
						</caption>
						<thead>
							<tr>
								<th>Degree Type</th>
								<th>Tuition</th>
								<th>Fees</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Associate Degree</td>
								<td>$9,890<sup>4</sup></td>
								<td>$790</td>
							</tr>
							<tr>
								<td>Bachelor's Degree</td>
								<td>$8,480<sup>6</sup></td>
								<td>$1,710<sup>5</sup></td>
							</tr>
							<tr>
								<td>Master's of Business Admin</td>
								<td>$18,000</td>
								<td>$3,910</td>
							</tr>
							<tr>
								<td>Master's of Social Work</td>
								<td>$15,700</td>
								<td>$3,910</td>
							</tr>
							<tr>
								<td>Other Master's Degree</td>
								<td>$13,570</td>
								<td>$3,910</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
		<footer>
			<section class="row">
				<ol>
					<li>Part-time refers to students taking 11 credit hours or less.</li>
					<li>Rates reflect tuition charges for students enrolled in an associate degree program at a Community college. Tuition rates for students enrolled in an associate degree program at a State-operated campus are the same as the rates for students enrolled in a bachelor’s degree program.</li>
					<li><a href="http://www.suny.edu/smarttrack/residency/" target="_blank" class="green">More information about residency status.</a></li>
					<li>The range for resident tuition is $4,020 to $5,560. Community colleges generally double their in-state tuition for non-residents. The range for non-resident tuition is $4,940 to $15,260.</li>
					<li>Typically fees for students pursuing bachelor's degrees at the State-operated campuses range from $1,270 to $3,230.</li>
					<li>Tuition rate for out-of-state residents enrolled in a bachelor's degree program at University at Buffalo and Stony Brook University is $24,740 and is $24,660 at University at Albany and Binghamton University.</li>
				</ol>
			</section>
		</footer>
	</section>
</section>
