
<section class="content">
	<header role="resource-banner" aria-label="Resource Navigation Banner">
		<nav class="row" aria-label="Resource Navigation Bar">
			<select class="show-mobile" aria-label="Visit Other Open SUNY Content Pages" id="resource-options">
				<option value="/content/faq" >FAQs</option>
				<option value="/content/military">Military &amp; Veterans</option>
				<option value="/content/transfer">Transferring Credits</option>
				<option value="/content/tuition-financial-aid">Tuition &amp; Financial Aid</option>
				<option value="/content/about" selected="">About Open Suny</option>
			</select>
			<ul class="hide-mobile"><li>
				<a href="/content/faq" title="Find answers to common questions about Open SUNY programs and courses">FAQs</a></li>
				<li><a href="/content/military" title="Information for active and reserve duty military members and prior service military veterans">Military &amp; Veterans</a></li>
				<li><a href="/content/transfer" title="Information about transferring credits towards Open SUNY degree programs">Transferring Credits</a></li>
				<li><a href="/content/tuition-financial-aid" title="Information about Open SUNY tuition and financial aid">Tuition &amp; Financial Aid</a></li>
				<li class="selected"><a href="/content/about" title="Learn more about the Open State University of New York System">About Open SUNY</a></li>
			</ul>
		</nav>
	</header>
	<section class="row">
		<h1>About Open SUNY</h1>
		<section>
			<h2>What is Open SUNY?</h2>
			<p>At SUNY, we are transforming the landscape of online learning. Drawing on our rich history of innovation, we’re placing the outstanding educational opportunities and talented faculty from our 64 campuses at your fingertips. Open SUNY is the latest step in our long-standing tradition of doing things bigger and better. No other institution has brought together an online learning environment to serve students at this scale and breadth. Once again, we are taking the lead.</p>
			<p>Open SUNY is a SUNY-wide collaboration that opens the door to world-class online-enabled learning opportunities. Open SUNY is not a new degree program or a new school; it’s a seamless way for you to access the courses, degrees, professors, and rich academics of all 64 SUNY campuses flexibly—wherever and whenever you want. For the first time, SUNY is delivering its renowned high-quality education with an unprecedented breadth of tools, services, and supports designed to help you be successful. With Open SUNY, you can look forward to:</p>
			<ul>
				<li>
					<dl>
						<dt>Flexibility:</dt>
						<dd>Learn on your own schedule from wherever. No need to change your work schedule or change jobs to make time for school; you can learn when your schedule allows.</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>Support:</dt>
						<dd>You’ll have access to a real human being who knows you and is there for you.</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>Experience:</dt>
						<dd>The hands-on practical experience you need to be successful in the workplace is built into your Open SUNY experience.</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>Simplicity:</dt>
						<dd>Open SUNY brings together online program and course offerings so that they are easy to find. It’s never been simpler to see all SUNY has to offer.</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>Excellence:</dt>
						<dd>Faculty are the engine of SUNY, and Open SUNY provides them with the tools and supports they need to provide high-quality courses in an online environment</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>Access:</dt>
						<dd>Open SUNY Affordable Learning Solutions provides faculty with an easy way to locate and utilize free and open educational materials to provide students with high-quality free or low-cost textbooks and other learning resources.</dd>
					</dl>
				</li>
			</ul>
			<p>The potential and flexibility is limitless. Whether you’re starting a new degree, completing a degree started years ago, or furthering your education with online courses, Open SUNY can provide you with an educational experience tailored to your interests and needs.</p>
		</section>
		<section id="open_suny_plus">
			<h2>What is Open SUNY+?</h2>
			<p>In addition to housing over 600 online degree programs and over 23,000 course sections, Open SUNY is proud to feature 100 programs that have earned the Open SUNY+ designation. Open SUNY brings an additional layer of supports for students and faculty, creating unique online learning experiences unlike any that exist today.</p>
			<p>As a student in a degree program powered by Open SUNY, you’ll have access to high-touch support dedicated to making you successful, including a personal concierge, help desk, and online tutoring. Your faculty will employ innovative, proven online teaching methods. And the Open SUNY experience doesn’t end with graduation—your degree program targets an area of high employer demand in New York State and beyond, and your education will equip you with the hands-on experience you need for a successful career in your field.</p>
			<p>Specific benefits include:</p>
			<ul>
				<li>
					<dl>
						<dt>Personal Concierge:</dt>
						<dd>One point of contact for all questions about your program, big and small, who will follow you throughout your degree.</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>HelpDesk and Tutoring:</dt>
						<dd>Support that matches your schedule.</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>Experiential Learning:</dt>
						<dd>Access to real-life experiences to position you for employment, providing opportunities with a wealth of New York State employers at a scale no other university can provide.</dd>
					</dl>
				</li>
				<li>
					<dl>
						
						<dt>Industry-Leading Teaching Practices:</dt>
							<dd>A learning experience that incorporates world-class faculty and teaching practices, building on the deep knowledge and research cultivated across the SUNY network.</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>High-Need Areas</dt>
							<dd>Your degree is in a field recognized as "high need" in New York State and beyond, meaning high employer demand and attractive employment opportunities after graduation.</dd>
						</dl>
					</li>
				</ul>
			</section>
		</section>
	</section>
</section>