<% title "Online Learning FAQs"  %>
<% meta_desc "Learn what it is like to take classes online at SUNY, financial aid, enrolling, and technical needs." %>



<section id="faq" class="content">
	<header role="resource-banner" aria-label="Resource Navigation Banner">
		<nav class="row" aria-label="Resource Navigation Bar">
			<select class="show-mobile faq" a<% title "Military"  %>
	<section class="content">
		<header role="resource-banner" aria-label="Resource Navigation Banner">
			<nav class="row" aria-label="Resource Navigation Bar">
				<select class="show-mobile" aria-label="Visit Other SUNY Online Content Pages" id="resource-options">
					<option value="/content/faq" >FAQs</option>
					<option value="/content/military" selected="">Military &amp; Veterans</option>
					<option value="/content/transfer">Transferring Credits</option>
					<option value="/content/tuition-financial-aid">Tuition &amp; Financial Aid</option>
					<option value="/content/about">About SUNY Online</option>
				</select>
				<ul class="hide-mobile"><li>
					<a href="/content/faq" title="Find answers to common questions about SUNY Online programs and courses">FAQs</a></li>
					<li class="selected"><a href="/content/military" title="Information for active and reserve duty military members and prior service military veterans">Military &amp; Veterans</a></li>
					<li><a href="/content/transfer" title="Information about transferring credits towards SUNY Online degree programs">Transferring Credits</a></li>
					<li><a href="/content/tuition-financial-aid" title="Information about SUNY Online tuition and financial aid">Tuition &amp; Financial Aid</a></li>
					<li><a href="/content/about" title="Learn more about the Open State University of New York System">About SUNY Online</a></li>
				</ul>
			</nav>
		</header>
		<section class="row">
			<h1>For Military / Veterans</h1>
			<section style:"text-align: left;">
				<p>SUNY is proud to serve veterans and active members of the military by providing access to high-quality online course and program offerings through SUNY Online, a SUNY-wide collaboration that opens the door to world-class online-enabled learning opportunities.</p>
				<p>As of Fall 2014, it is more affordable than ever for individuals in the military and veterans to attend SUNY. In compliance with the federal GI Bill®, SUNY is now able to offer military and veteran students New York State resident tuition rates at our state-operated and community colleges throughout the system.</p>
				<p>At SUNY, we believe that veterans and active military members contribute to richness and diversity in the classroom, thanks to their incredible life-experience and unique perspective. Whether you are being deployed or have recently returned home, it has never been easier for you to continue your learning, regardless of geographic location. SUNY Online is proud to offer more than 450 degrees and 12,000 course sections, many of which are fully online and can be taken on your schedule.</p>
				<p>Several SUNY campuses have been recognized by national military and veterans organizations, including the Military Advanced Education: Guide to Military-Friendly Colleges &amp; Universities, Servicemembers Opportunity Colleges, and Military Friendly by G.I. Jobs. In addition, SUNY campuses participate in President Obama’s Principles of Excellence. Such recognition demonstrates how SUNY welcomes and supports veterans and active military at our colleges and universities.</p>
				<p>Each SUNY campus has <a href="http://www.suny.edu/attend/get-started/military-and-veteran-students/campus-veterans-services-offices/" target="_blank" class="green">trained counselors</a> who can assist you in making the most of your GI Bill® benefits. We’ll work with Veterans Affairs to help make a complicated process as simple as possible.</p>
				<p>With SUNY Online, members of the United States military are only a click away from world-class SUNY academics.</p>
				<p>GI Bill® is a registered trademark of the U.S. Department of Veterans Affairs (VA). More information about education benefits offered by VA is available at the official U.S. government Web site at <a href="https://www.benefits.va.gov/gibill">https://www.benefits.va.gov/gibill</a>.</p>
			</section>
		</section>
	</section>ria-label="Visit Other SUNY Online Content Pages" id="resource-options">
				<option value="/content/faq" selected="">FAQs</option>
				<option value="/content/military">Military &amp; Veterans</option>
				<option value="/content/transfer">Transferring Credits</option>
				<option value="/content/tuition-financial-aid">Tuition &amp; Financial Aid</option>
				<option value="/content/about">About SUNY Online</option>
			</select>
			<ul class="hide-mobile"><li class="selected">
				<a href="/content/faq" title="Find answers to common questions about SUNY Online programs and courses">FAQs</a></li>
				<li><a href="/content/military" title="Information for active and reserve duty military members and prior service military veterans">Military &amp; Veterans</a></li>
				<li><a href="/content/transfer" title="Information about transferring credits towards SUNY Online degree programs">Transferring Credits</a></li>
				<li><a href="/content/tuition-financial-aid" title="Information about SUNY Online tuition and financial aid">Tuition &amp; Financial Aid</a></li>
				<li><a href="/content/about" title="Learn more about the Open State University of New York System">About SUNY Online</a></li>
			</ul>
		</nav>
	</header>
	<section class="row">
		<h1>Frequently Asked Questions</h1>
		<section><h2>About SUNY Online</h2>
			<dl>
				<dt>If I enroll in a program, am I a student of “SUNY Online” or a student of one of the 64 SUNY campuses?</dt>
				<dd>If you enroll in a degree program, you will be a student of the campus offering the program. When you graduate, your diploma will be identical to the diplomas granted by that college to students studying on campus.</dd>
				<dt>Can I transfer credits from another school toward an online program at SUNY?</dt>
				<dd>Yes, in many instances SUNY campuses will count credit from other accredited institutions toward your degree program. The rules for transfer can vary by institution, so it is recommended that you contact a transfer advisor at the campus you wish to attend for more information.</dd>
				<dt>How much time should I devote to my online courses?</dt>
				<dd>Typically, students should plan on 3-4 hours of work per week per credit hour. For a 3-credit course, you should set aside 9-12 hours per week. While course requirements vary, you should also plan on interacting in your courses several times during the week.</dd>
				<dt>How often can I login and work on my online courses?</dt>
				<dd>SUNY courses that are offered online, or that have an online component, are usually available 24 hours a day, 7 days a week. SUNY campuses may have specific times and dates that courses may not be available, or have restricted access. In addition, a particular course at a specific campus may require that you log on at certain periods for certain activities. Like traditional on-campus classes, SUNY online courses have start and end dates according to the college's calendar. Your instructor will provide a course schedule for you to follow along with dates and deadlines for assignments.</dd>
				<dt>What will it be like to take an online class?</dt>
				<dd>If you would like to experience an online class first hand, please visit our <a href="https://bbsupport.sln.suny.edu/webapps/blackboard/content/listContentEditable.jsp?content_id=_191117_1&amp;course_id=_2324_1" target="_blank" rel="noopener" class="green">Demo Course</a>.</dd>
				<dt>Is online learning for me?</dt>
				<dd>If you're curious as to whether online learning is the right step for you, please contact your campus of interest. Many of our campuses have an inventory available for you to take to find out the degree to which distance learning will be a good fit for you.</dd><dt>Can I get financial aid for courses offered through SUNY?</dt>
				<dd>Yes, financial aid is available to online students, but the type of aid you may be eligible to receive will depend upon many factors. You may be able to receive grants and scholarships, loans or tax deductions for your tuition and school costs, depending upon your personal situation. Some factors that affect your financial aid status are whether you are a full-time or part-time student, and whether you are studying for credit or non-credit. <a href="http://www.suny.edu/smarttrack/" target="_blank" rel="noopener" class="green">Visit SUNY Smart Track</a> to find information about the types of financial aid and how to apply.</dd><dt>What technology will I need?</dt>
				<dd>You should have access to a computer with a high speed, broadband or DSL internet connection. Due to the nature of downloading and viewing rich media, dial-up connections are not recommended. You should also be using an internet browser that is supported by your campus.</dd><dt>Do I have to be an experienced Internet or computer user to take SUNY courses?</dt>
				<dd>Although you do not have to be an expert, you must have basic computer skills, such as word processing and some experience using the Internet. We recommend signing on with an Internet Service Provider (ISP) a few months before the semester begins. The <a href="http://service.sunyconnect.suny.edu/footprints/proj16.html" target="_blank" rel="noopener" class="green">SUNY Online Help Desk</a> is available to answer any technical questions.</dd>
				<dt>What if I plan to use more than one computer to access my courses?</dt>
				<dd>You can access your courses through as many computers as you would like as long as they meet the technical requirements.</dd><dt>Do I need special software to take online classes?</dt>
				<dd>The software that SUNY campuses use for online learning varies from campus to campus. However, they all have one thing in common - online learning at SUNY campuses is browser-based. This means that you access your course through your internet connection using a standard web browser. You may need to download the most compatible version of the browser for your campus system. The most important thing is that you have a good connection to the internet. Some instructors require students to use special software related to their course.</dd>
				<dt>What are Featured programs?</dt>
				<dd>The “Featured” program icons denote SUNY Online Plus or SUNY Online Signature Programs, which include a suite of supports and services available to you at no additional cost. These supports are engineered to help you succeed in your online program.</dd>
				<dt>How do I apply for an online program?</dt>
				<dd>First start by finding a program you're interested in. When you're on that program's detailed information page, scroll down and you'll see a section titled "How do I apply?". There you will see a list of steps and a large Apply Now button.</dd>
				<dt>Who do I contact if I have more questions?</dt>
				<dd>You can contact a SUNY representative by phone at 1.800.342.3811 or 518.320.1888 from 8:30 a.m. – 4:30 p.m. EST, Monday through Friday. You can also reach us by email at askSUNY@suny.edu.</dd>
			</dl>
		</section>
	</section>
</section>

		
	</section>
</section>
