<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "FAQPage",
  "mainEntity": [
	{
      "@type": "Question",
      "name": "If I enroll in a program, am I a student of “SUNY Online” or a student of one of the 64 SUNY campuses?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "If you enroll in a degree program, you will be a student of the campus offering the program. When you graduate, your diploma will be identical to the diplomas granted by that college to students studying on campus."
      }
    },
    {
      "@type": "Question",
      "name": "Can I transfer credits from another school toward an online program at SUNY?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Yes, in many instances SUNY campuses will count credit from other accredited institutions toward your degree program. The rules for transfer can vary by institution, so it is recommended that you contact a transfer advisor at the campus you wish to attend for more information."
      }
    },
    {
      "@type": "Question",
      "name": "How much time should I devote to my online courses?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Typically, students should plan on 3-4 hours of work per week per credit hour. For a 3-credit course, you should set aside 9-12 hours per week. While course requirements vary, you should also plan on interacting in your courses several times during the week."
      }
    },
    {
      "@type": "Question",
      "name": "How often can I login and work on my online courses?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "SUNY courses that are offered online, or that have an online component, are usually available 24 hours a day, 7 days a week. SUNY campuses may have specific times and dates that courses may not be available, or have restricted access. In addition, a particular course at a specific campus may require that you log on at certain periods for certain activities. Like traditional on-campus classes, SUNY online courses have start and end dates according to the college's calendar. Your instructor will provide a course schedule for you to follow along with dates and deadlines for assignments."
      }
    },
    {
      "@type": "Question",
      "name": "What will it be like to take an online class?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "If you would like to experience an online class first hand, please visit our Demo Course."
      }
    },
    {
      "@type": "Question",
      "name": "Is online learning for me?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "If you're curious as to whether online learning is the right step for you, please contact your campus of interest. Many of our campuses have an inventory available for you to take to find out the degree to which distance learning will be a good fit for you."
      }
    },
    {
      "@type": "Question",
      "name": "Can I get financial aid for courses offered through SUNY?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Yes, financial aid is available to online students, but the type of aid you may be eligible to receive will depend upon many factors. You may be able to receive grants and scholarships, loans or tax deductions for your tuition and school costs, depending upon your personal situation. Some factors that affect your financial aid status are whether you are a full-time or part-time student, and whether you are studying for credit or non-credit. Visit SUNY Smart Track to find information about the types of financial aid and how to apply."
      }
    },
    {
      "@type": "Question",
      "name": "What technology will I need?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "You should have access to a computer with a high speed, broadband or DSL internet connection. Due to the nature of downloading and viewing rich media, dial-up connections are not recommended. You should also be using an internet browser that is supported by your campus."
      }
    },
    {
      "@type": "Question",
      "name": "Do I have to be an experienced Internet or computer user to take SUNY courses?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Although you do not have to be an expert, you must have basic computer skills, such as word processing and some experience using the Internet. We recommend signing on with an Internet Service Provider (ISP) a few months before the semester begins. The SUNY Online Help Desk is available to answer any technical questions."
      }
    },
    {
      "@type": "Question",
      "name": "What if I plan to use more than one computer to access my courses?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "You can access your courses through as many computers as you would like as long as they meet the technical requirements."
      }
    },
    {
      "@type": "Question",
      "name": "Do I need special software to take online classes?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "The software that SUNY campuses use for online learning varies from campus to campus. However, they all have one thing in common - online learning at SUNY campuses is browser-based. This means that you access your course through your internet connection using a standard web browser. You may need to download the most compatible version of the browser for your campus system. The most important thing is that you have a good connection to the internet. Some instructors require students to use special software related to their course."
      }
    },
    {
      "@type": "Question",
      "name": "What is a SUNY Online featured program?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "The “Featured” program icons denote SUNY Online Plus or SUNY Online Signature Programs, which include a suite of supports and services available to you at no additional cost. These supports are engineered to help you succeed in your online program."
      }
    },
    {
      "@type": "Question",
      "name": "How do I apply for an online program?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "First start by finding a program you're interested in. When you're on that program's detailed information page, scroll down and you'll see a section titled \"How do I apply?\". There you will see a list of steps and a large Apply Now button."
      }
    },
    {
      "@type": "Question",
      "name": "Who do I contact if I have more questions?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "You can contact a SUNY representative by phone at 1.800.342.3811 or 518.320.1888 from 8:30 a.m. – 4:30 p.m. EST, Monday through Friday. You can also reach us by email at askSUNY@suny.edu."
      }
    }
  ]
}
</script>


<% title "Online Learning FAQs"  %>
<% meta_desc "Learn what it is like to take classes online at SUNY, financial aid, enrolling, and technical needs." %>

<section id="faq" class="content">
	<header role="resource-banner" aria-label="Resource Navigation Banner">
		<nav class="row" aria-label="Resource Navigation Bar">
					<select class="show-mobile" aria-label="Visit Other SUNY Online Content Pages" id="resource-options">
						<option value="/content/faq" selected="" >FAQs</option>
						<option value="/content/military">Military &amp; Veterans</option>
						<option value="/content/transfer" >Transferring Credits</option>
						<option value="/content/tuition-financial-aid">Tuition &amp; Financial Aid</option>
						<option value="/content/about">About SUNY Online</option>
					</select>
					<ul class="hide-mobile">
						<li class="selected"><a href="/content/faq" title="Find answers to common questions about SUNY Online programs and courses">FAQs</a></li>
						<li><a href="/content/military" title="Information for active and reserve duty military members and prior service military veterans">Military &amp; Veterans</a></li>
						<li ><a href="/content/transfer" title="Information about transferring credits towards SUNY Online degree programs">Transferring Credits</a></li>
						<li><a href="/content/tuition-financial-aid" title="Information about SUNY Online tuition and financial aid">Tuition &amp; Financial Aid</a></li>
						<li><a href="/content/about" title="Learn more about the Open State University of New York System">About SUNY Online</a></li>
					</ul>
				</nav>
			</header>
	<section class="row">
		<h1>Frequently Asked Questions</h1>
		<section><h2>About SUNY Online</h2>
			<dl>
				<dt>If I enroll in a program, am I a student of “SUNY Online” or a student of one of the 64 SUNY campuses?</dt>
				<dd>If you enroll in a degree program, you will be a student of the campus offering the program. When you graduate, your diploma will be identical to the diplomas granted by that college to students studying on campus.</dd>
				<dt>Can I transfer credits from another school toward an online program at SUNY?</dt>
				<dd>Yes, in many instances SUNY campuses will count credit from other accredited institutions toward your degree program. The rules for transfer can vary by institution, so it is recommended that you contact a transfer advisor at the campus you wish to attend for more information.</dd>
				<dt>How much time should I devote to my online courses?</dt>
				<dd>Typically, students should plan on 3-4 hours of work per week per credit hour. For a 3-credit course, you should set aside 9-12 hours per week. While course requirements vary, you should also plan on interacting in your courses several times during the week.</dd>
				<dt>How often can I login and work on my online courses?</dt>
				<dd>SUNY courses that are offered online, or that have an online component, are usually available 24 hours a day, 7 days a week. SUNY campuses may have specific times and dates that courses may not be available, or have restricted access. In addition, a particular course at a specific campus may require that you log on at certain periods for certain activities. Like traditional on-campus classes, SUNY online courses have start and end dates according to the college's calendar. Your instructor will provide a course schedule for you to follow along with dates and deadlines for assignments.</dd>
				<dt>What will it be like to take an online class?</dt>
				<dd>If you would like to experience an online class first hand, please visit our <a href="https://bbsupport.sln.suny.edu/webapps/blackboard/content/listContentEditable.jsp?content_id=_191117_1&amp;course_id=_2324_1" target="_blank" rel="noopener" class="green">Demo Course</a>.</dd>
				<dt>Is online learning for me?</dt>
				<dd>If you're curious as to whether online learning is the right step for you, please contact your campus of interest. Many of our campuses have an inventory available for you to take to find out the degree to which distance learning will be a good fit for you.</dd><dt>Can I get financial aid for courses offered through SUNY?</dt>
				<dd>Yes, financial aid is available to online students, but the type of aid you may be eligible to receive will depend upon many factors. You may be able to receive grants and scholarships, loans or tax deductions for your tuition and school costs, depending upon your personal situation. Some factors that affect your financial aid status are whether you are a full-time or part-time student, and whether you are studying for credit or non-credit. <a href="http://www.suny.edu/smarttrack/" target="_blank" rel="noopener" class="green">Visit SUNY Smart Track</a> to find information about the types of financial aid and how to apply.</dd><dt>What technology will I need?</dt>
				<dd>You should have access to a computer with a high speed, broadband or DSL internet connection. Due to the nature of downloading and viewing rich media, dial-up connections are not recommended. You should also be using an internet browser that is supported by your campus.</dd><dt>Do I have to be an experienced Internet or computer user to take SUNY courses?</dt>
				<dd>Although you do not have to be an expert, you must have basic computer skills, such as word processing and some experience using the Internet. We recommend signing on with an Internet Service Provider (ISP) a few months before the semester begins. The <a href="http://service.sunyconnect.suny.edu/footprints/proj16.html" target="_blank" rel="noopener" class="green">SUNY Online Help Desk</a> is available to answer any technical questions.</dd>
				<dt>What if I plan to use more than one computer to access my courses?</dt>
				<dd>You can access your courses through as many computers as you would like as long as they meet the technical requirements.</dd><dt>Do I need special software to take online classes?</dt>
				<dd>The software that SUNY campuses use for online learning varies from campus to campus. However, they all have one thing in common - online learning at SUNY campuses is browser-based. This means that you access your course through your internet connection using a standard web browser. You may need to download the most compatible version of the browser for your campus system. The most important thing is that you have a good connection to the internet. Some instructors require students to use special software related to their course.</dd>
				<dt>What are Featured programs?</dt>
				<dd>The “Featured” program icons denote SUNY Online Plus or SUNY Online Signature Programs, which include a suite of supports and services available to you at no additional cost. These supports are engineered to help you succeed in your online program.</dd>
				<dt>How do I apply for an online program?</dt>
				<dd>First start by finding a program you're interested in. When you're on that program's detailed information page, scroll down and you'll see a section titled "How do I apply?". There you will see a list of steps and a large Apply Now button.</dd>
				<dt>Who do I contact if I have more questions?</dt>
				<dd>You can contact a SUNY representative by phone at 1.800.342.3811 or 518.320.1888 from 8:30 a.m. – 4:30 p.m. EST, Monday through Friday. You can also reach us by email at askSUNY@suny.edu.</dd>
				<dt>Can I get financial aid as a part-time student?</dt>
				<dd>In addition to federal financial aid options, New York State TAP (tuition assistance program) is now available to part-time students who are taking more than 6 credits per semester.</dd>
				
			</dl>
		</section>
	</section>
</section>

		
	</section>
</section>
