		<div class="jumbotron jumbotron-fluid">

			   <section class="row-search">
		   <h1>750+ SUNY DEGREES AND CERTIFICATES &mdash; ONLINE</h1>
		   
		   <h2>Same Degree as On Campus. Same Faculty. Low SUNY Tuition. Start Your Search.</h2>
		   
		   
		   <form action="<%= '/programs' %>" id="main_search">
			   <select aria-label="Search Degree Filter" id="degree">
				   <option value="" selected="">Degree Level</option>
				   <option value="filterrific[with_prog_level]=certificate">Certificate</option>
				   <option value="filterrific[with_prog_level]=associate">Associate</option>
				   <option value="filterrific[with_prog_level]=bachelor">Bachelor's</option>
				   <option value="filterrific[with_prog_level]=master">Master's</option>
				   <option value="filterrific[with_prog_level]=advanced-certificate">Advanced Certificate</option>
				   <option value="filterrific[with_prog_level]=doctorate">Doctorate</option>
			   </select>
			   <input type="text" id="s" placeholder="What do you want to learn?" aria-label="Search SUNY Online Degree Programs">
			   <input id="searchButton" type="button" onclick="myFunction()" class="home rounded-button pink rounded-button small" value="Search">
		   </form>
		  </section>

		  </div>


<section id="home">
<div class="carousel">
	
	<div id="owl-demo3" class="owl-carousel owl-theme">
		
	
<div class="item">
	<a href="/pathways/accounting"><img src="/assets/pathways/Accounting.png" alt="Accounting Pathway"><div class="pathways"><h2>Accounting  ></h2><p>Associate and bachelor's completion program in accounting. </p></div></a></div>
<div class="item">	
<a href="/pathways/business"><img src="/assets/pathways/Business.png" alt="Business Pathway"><div class="pathways"><h2>Business > </h2><p>Online associate, bachelor's, and MBAs. GMAT and non-GMAT MBA options. </p></div></a></div>
<div class="item">
<a href="/pathways/computerscience_it"><img src="/assets/pathways/CompSciIT.png" alt="Computer Science and IT Pathway"><div class="pathways"><h2>Computer Science & IT  ></h2><p>2-year and 4-year degrees in computer science, networking, and cybersecurity. </p></div></a></div>
<div class="item">
<a href="/pathways/criminal_justice"><img src="/assets/pathways/CriminalJustice.png" alt="Criminal Justice Pathway"><div class="pathways"><h2>Criminal Justice  ></h2><p>AAS and bachelor's degree. Paths in crime intelligence and crime analysis. </p></div></a></div>
<div class="item">
<a href="/pathways/education"><img src="/assets/pathways/Education.png" alt="Education Pathway"><div class="pathways"><h2>Education  ></h2><p>Start with an education certificate online. Transfer options available. </p></div></a></div>
<div class="item">
<a href="/pathways/engineering"><img src="/assets/pathways/Engineering.png" alt="Engineering Pathway"><div class="pathways"><h2>Engineering  ></h2><p>Engineering degrees for new and transfer students. </p></div></a></div>
<div class="item">
<a href="/pathways/general_studies"><img src="/assets/pathways/GenStudies.png" alt="General Studies Pathway"><div class="pathways"><h2>General Studies  ></h2><p>Individual studies to earn an AS or AA online. </p></div></a></div>
<div class="item">
<a href="/pathways/graduate_degrees"><img src="/assets/pathways/GradDegrees.png" alt="Graduate Degree Pathway"><div class="pathways"><h2>Graduate Degrees  ></h2><p>Fully online. GMAT and No-GMAT graduate degrees. </p></div></a></div>
<div class="item">
<a href="/pathways/healthcare"><img src="/assets/pathways/Healthcare.png" alt="Healthcare Pathway"><div class="pathways"><h2>Healthcare  ></h2><p>Associate, bachelor's, and graduate degrees in healthcare online. </p></div></a></div>
<div class="item">
<a href="/pathways/psychology"><img src="/assets/pathways/Psychology.png" alt="Psychology Pathway"><div class="pathways"><h2>Psychology  ></h2><p>Associate and bachelor's degrees in psychology. Start new or transfer. </p></div></a></div>
<div class="item">
<a href="/pathways/psychology"><img src="/assets/pathways/SecurityStudies.png" alt="Security Studies Pathway"><div class="pathways"><h2>Security Studies  ></h2><p>Homeland security, cybersecurity, and digital forensics paths. </p></div></a></div>

	</div>
</div>
<div class="field-grid">
<div class="row" id="field-grid-list">
	<select id="level_filter" class="show-mobile-grid" aria-label="Filter Degree Fields By Degree Level">
	<option value="all" selected="">ALL DEGREES</option>
	<option value=".certificate">CERTIFICATE</option>
	<option value=".associate">ASSOCIATE</option>
	<option value=".bachelor">BACHELOR'S</option>
	<option value=".master">MASTER'S</option>'
	<option value=".advanced-certificate">ADVANCED CERTIFICATE</option>
	<option value=".doctorate">DOCTORATE</option>
	</select>
	
<label></label>
<div class="hide-mobile" style="width: 100%;">  
  <button class="filter" data-filter="all">ALL DEGREES</button>
  <button class="filter" data-filter=".certificate">CERTIFICATE</button>
  <button class="filter" data-filter=".associate">ASSOCIATE</button>
  <button class="filter" data-filter=".bachelor">BACHELOR'S</button>
  <button class="filter" data-filter=".master">MASTER'S</button>
  <button class="filter adv" data-filter=".advanced-certificate">ADVANCED CERTIFICATE</button>
  <button class="filter" data-filter=".doctorate">DOCTORATE</button>
</div>  
  
</div>
<div class="row">
<ul id="Container" class="grid">
  <li class="mix level master associate bachelor advanced-certificate" data-myorder="1"><a title="Explore more SUNY Online Programs in Arts &amp; Humanities" data-field="arts" tabindex="0" href="/programs?filterrific[with_subject_area]=arts">
			<figure>
				<img src="/assets/fieldgrid/Arts_Humanities.png" alt="Arts &amp; Humanities Degrees">
				<figcaption>Arts &amp; Humanities</figcaption>
			</figure>
		</a></li>
  <li class="mix level bachelor associate master advanced-certificate certificate" data-myorder="2"><a title="Explore more SUNY Online Programs in Behavioral Science" data-field="behavioral_science" tabindex="0" href="/programs?filterrific[with_subject_area]=behavioral_science">
			<figure>
				<img src="/assets/fieldgrid/Behavioral_Science.png" alt="Behavioral Science Degrees">
				<figcaption>Behavioral Science</figcaption>
			</figure>
		</a></li>
		<li class="mix level bachelor associate master advanced-certificate certificate" style="display: inline-block;" data-bound="">
			<a title="Explore more SUNY Online Programs in Business" data-field="business" tabindex="0" href="/programs?filterrific[with_subject_area]=business">
				<figure>
					<img src="/assets/fieldgrid/Business.png" alt="Business Degrees">
					<figcaption>Business</figcaption>
				</figure>
			</a>
		</li>
		<li class="mix level doctorate associate master advanced-certificate bachelor" style="display: inline-block;" data-bound="">
			<a title="Explore more SUNY Online Programs in Computer Science" data-field="computer-science" tabindex="0" href="/programs?filterrific[with_subject_area]=computer-science">
				<figure>
					<img src="/assets/fieldgrid/Computer_Science.png" alt="Computer Science Degrees">
					<figcaption>Computer Science</figcaption>
				</figure>
			</a>
		</li>
		<li class="mix level certificate associate advanced-certificate bachelor" style="display: inline-block;" data-bound="">
			<a title="Explore more SUNY Online Programs in Criminal Justice &amp; Law" data-field="criminal-justice-law" tabindex="0" href="/programs?filterrific[with_subject_area]=criminal-justice-law">
				<figure>
					<img src="/assets/fieldgrid/Justice_Law.png" alt="Criminal Justice &amp; Law Degrees">
					<figcaption>Criminal Justice &amp; Law</figcaption>
				</figure>
			</a>
		</li>
		<li class="mix level doctorate certificate associate master bachelor advanced-certificate" style="display: inline-block;" data-bound=""><a title="Explore more SUNY Online Programs in Education" data-field="education" tabindex="0" href="/programs?filterrific[with_subject_area]=education"><figure><img src="/assets/fieldgrid/Education.png" alt="Education Degrees"><figcaption>Education</figcaption></figure></a></li>
		
		<li class="mix level advanced-certificate certificate associate" style="display: inline-block;" data-bound=""><a title="Explore more SUNY Online Programs in General Studies" data-field="bachelor-of-general-studies" tabindex="0" href="/programs?filterrific[with_subject_area]=bachelor-of-general-studies"><figure><img src="/assets/fieldgrid/General_Studies.png" alt="General Studies Degrees"><figcaption>General Studies</figcaption></figure></a></li>
		
		<li class="mix level doctorate associate master bachelor advanced-certificate certificate" style="display: inline-block;" data-bound=""><a title="Explore more SUNY Online Programs in Health Sciences" data-field="health-sciences" tabindex="0" href="/programs?filterrific[with_subject_area]=health-sciences"><figure><img src="/assets/fieldgrid/Health_Sciences.png" alt="Health Sciences Degrees"><figcaption>Health Sciences</figcaption></figure></a></li>
		
		<li class="mix level doctorate certificate associate master bachelor advanced-certificate" style="display: inline-block;" data-bound=""><a title="Explore more SUNY Online Programs in IT &amp; Technology" data-field="information_technology" tabindex="0" href="/programs?filterrific[with_subject_area]=information_technology"><figure><img src="/assets/fieldgrid/IT_Tech.png" alt="IT &amp; Technology Degrees"><figcaption>IT &amp; Technology</figcaption></figure></a></li>
		
		<li class="mix level bachelor advanced-certificate master associate" style="display: inline-block;" data-bound=""><a title="Explore more SUNY Online Programs in Journalism &amp; Communications" data-field="journalism--communications" tabindex="0" href="/programs?filterrific[with_subject_area]=journalism--communications"><figure><img src="assets/fieldgrid/Journalism_Comm.png" alt="Journalism &amp; Communications Degrees"><figcaption>Journalism &amp; Communications</figcaption></figure></a></li>
		
		<li class="mix level certificate bachelor master associate" style="display: inline-block;" data-bound=""><a title="Explore more SUNY Online Programs in Liberal Arts" data-field="arts.liberal" tabindex="0" href="/programs?filterrific[with_subject_area]=arts.liberal"><figure><img src="/assets/fieldgrid/Liberal_Arts.png" alt="Liberal Arts Degrees"><figcaption>Liberal Arts</figcaption></figure></a></li>
		
		<li class="mix level certificate associate master bachelor advanced-certificate" style="display: inline-block;" data-bound=""><a title="Explore more SUNY Online Programs in Public Administration &amp; Community Service" data-field="public-admin--community-service" tabindex="0" href="/programs?filterrific[with_subject_area]=public-admin--community-service">
				<figure>
					<img src="/assets/fieldgrid/Public_Admin.png" alt="Public Administration &amp; Community Service Degrees"><figcaption>Public Administration &amp; Community Service</figcaption></figure></a></li>
					
					<li class="mix level doctorate associate master advanced-certificate bachelor" style="display: inline-block;" data-bound=""><a title="Explore more SUNY Online Programs in Science &amp; Technology" data-field="science--technology" tabindex="0" href="/programs?filterrific[with_subject_area]=science--technology"><figure><img src="/assets/fieldgrid/Science.png" alt="Science &amp; Technology Degrees"><figcaption>Science &amp; Technology</figcaption></figure></a></li>
					
					<li class="mix level certificate bachelor advanced-certificate associate master" style="display: inline-block;" data-bound=""><a title="Explore more SUNY Online Programs in Social Sciences" data-field="social-sciences" tabindex="0" href="/programs?filterrific[with_subject_area]=social-sciences"><figure><img src="/assets/fieldgrid/Social_Studies.png" alt="Social Sciences Degrees"><figcaption>Social Sciences</figcaption></figure></a></li>
					
					<li class="mix level bachelor certificate associate" style="display: inline-block;" data-bound=""><a title="Explore more SUNY Online Programs in Travel &amp; Tourism" data-field="travel--tourism" tabindex="0" href="/programs?filterrific[with_subject_area]=travel--tourism"><figure><img src="/assets/fieldgrid/Travel.png" alt="Travel &amp; Tourism Degrees"><figcaption>Travel &amp; Tourism</figcaption></figure></a></li>
		

  <div class="gap"></div>
  <div class="gap"></div>
</ul>		
</div>
</div>		

</section>
<section class="campuses">
	<div class="row carousel">

	<h2 class="owl">Choose from among the 64 institutions of The State University of New York</h2>
	
		<div id="owl-demo" class="owl-carousel owl-theme">
		
			<% @schools.each do |school| %>
			 <div class="item"><%= link_to image_tag(school.image.url(:large), :align=> "center" ), "/programs?filterrific[with_school_id]=#{school.id}"  %></div>
	<%end%>

		</div>
	</div>
</section>

		<section class="info-block row">
			<h2 class="info-block-h2">Are you a working adult with kids or a tight schedule?</h2>
			<h3 class="info-block-h3">If so, online learning is perfect for you</h3>
			<ul>
				<li>
					<figure>
						<img src="/assets/Schedule.png" alt="Synchronous Classes">
						<figcaption>
							<h2>Take classes on your schedule</h2>
							<p>We know you're busy and that's why many of our classes can be taken whenever and wherever you are. There is no need to change your work schedule to attend most courses.</p>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="/assets/Faculty.png" alt="Same Faculty">
						<figcaption>
							<h2>Learn from on-campus faculty</h2>
							<p>The faculty teaching online courses at SUNY Online schools are the exact same award winning professors that teach classes to our on-campus students.</p>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="/assets/Knowledge.png" alt="Prior Learning Assessment">
						<figcaption>
							<h2>Credit for Prior Knowledge</h2>
							<p>Many of our degrees offer credit based on your existing knowledge because we believe you should get credit for experience that you have already gained at school or in the workforce.</p>
						</figcaption>
					</figure>
				</li>
			</ul>
		</section>
		<section class="large-testimonial">
			<section class="row">
				<div id="owl-demo2" class="owl-carousel owl-theme">
			<!--div class="item">
				<figure>
					<img src="//d2brwuimzb4ax4.cloudfront.net/sites/suny/testimonials/kimberly_lane.png" alt="Kimberly Lane">
					<figcaption>
						<blockquote>
							<p>I was a bit apprehensive at first because I knew online classes require that you motivate yourself, but after this experience, I will always choose online if possible. I think there are so many benefits.</p>
							<footer>
								<cite>Kimberly Lane, Clinical Laboratory Technician Online Program, Class of 2013</cite>
							</footer>
						</blockquote>
					</figcaption>
				</figure>
			</div-->
			<!--div class="item">
				<figure>
					<img src="/assets/mitkish.png" alt="Christine Mitkish">
					<figcaption>
						<blockquote>
							<p>I recently returned to college after a 30-year absence, and I’ll admit it was pretty scary. I have a fulltime job and a son in school, so I had a lot on my plate. </p>
							<footer>
								<cite>Christine Mitkish, Online Program, 2020?</cite>
							</footer>
						</blockquote>
					</figcaption>
				</figure>
			</div-->
			<div class="item">
				<figure>
					<img src="/assets/alexis.png" alt="Alexis Iglesias- Ortiz">
					<figcaption>
						<blockquote>
							<p>Knowing that I have someone in my corner who gets back to me as soon as possible, has really helped me deal with the difficulties surrounding not only being in college but pursuing my degree online.</p>
							<div>
								<cite>- Alexis Iglesias-Ortiz, Business Administration, SUNY Oswego, 2020</cite>
							</div>
						</blockquote>
					</figcaption>
				</figure>
			</div>
			<div class="item">
				<figure>
					<img src="/assets/lila.png" alt="Lila Ijaz">
					<figcaption>
						<blockquote>
							<p>I love that I signed up with SUNY Online! The success coaches really help you so much before the college application process, and after you get accepted.</p>
							<div>
								<cite>- Lila Ijaz, MBA, SUNY Oswego, 2021</cite>
						</div>
						</blockquote>
					</figcaption>
				</figure>
			</div>
			</div>
			</section>
		</section>
	</section>
	<script>
		var input = document.getElementById("s");

		// Execute a function when the user releases a key on the keyboard
		input.addEventListener("keyup", function(event) {
		  // Number 13 is the "Enter" key on the keyboard
		  if (event.keyCode === 13) {
		    // Cancel the default action, if needed
		    event.preventDefault();
		    // Trigger the button element with a click
		    document.getElementById("searchButton").click();
		  }	});
    </script>