<% title "Military and Veterans "  %>
<% meta_desc "SUNY is proud to serve veterans and active military. Access to 64 campuses, trained counselors, and hundreds of programs opens the door to world-class learning." %>

	<section class="content">
		<header role="resource-banner" aria-label="Resource Navigation Banner">
			<nav class="row" aria-label="Resource Navigation Bar">
				<select class="show-mobile" aria-label="Visit Other SUNY Online Content Pages" id="resource-options">
					<option value="/content/faq" >FAQs</option>
					<option value="/content/military" selected="">Military &amp; Veterans</option>
					<option value="/content/transfer">Transferring Credits</option>
					<option value="/content/tuition-financial-aid">Tuition &amp; Financial Aid</option>
					<option value="/content/about">About SUNY Online</option>
				</select>
				<ul class="hide-mobile"><li>
					<a href="/content/faq" title="Find answers to common questions about SUNY Online programs and courses">FAQs</a></li>
					<li class="selected"><a href="/content/military" title="Information for active and reserve duty military members and prior service military veterans">Military &amp; Veterans</a></li>
					<li><a href="/content/transfer" title="Information about transferring credits towards SUNY Online degree programs">Transferring Credits</a></li>
					<li><a href="/content/tuition-financial-aid" title="Information about SUNY Online tuition and financial aid">Tuition &amp; Financial Aid</a></li>
					<li><a href="/content/about" title="Learn more about the Open State University of New York System">About SUNY Online</a></li>
				</ul>
			</nav>
		</header>
		<section class="row">
			<h1>For Military / Veterans</h1>
			<section>
				<p>SUNY is proud to serve veterans and active members of the military by providing access to high-quality online course and program offerings through SUNY Online, a SUNY-wide collaboration that opens the door to world-class online-enabled learning opportunities.</p>
				<p>As of Fall 2014, it is more affordable than ever for individuals in the military and veterans to attend SUNY. In compliance with the federal GI Bill®, SUNY is now able to offer military and veteran students New York State resident tuition rates at our state-operated and community colleges throughout the system.</p>
				<p>At SUNY, we believe that veterans and active military members contribute to richness and diversity in the classroom, thanks to their incredible life-experience and unique perspective. Whether you are being deployed or have recently returned home, it has never been easier for you to continue your learning, regardless of geographic location. SUNY Online is proud to offer more than 450 degrees and 12,000 course sections, many of which are fully online and can be taken on your schedule.</p>
				<p>Several SUNY campuses have been recognized by national military and veterans organizations, including the Military Advanced Education: Guide to Military-Friendly Colleges &amp; Universities, Servicemembers Opportunity Colleges, and Military Friendly by G.I. Jobs. In addition, SUNY campuses participate in President Obama’s Principles of Excellence. Such recognition demonstrates how SUNY welcomes and supports veterans and active military at our colleges and universities.</p>
				<p>Each SUNY campus has <a href="http://www.suny.edu/attend/get-started/military-and-veteran-students/campus-veterans-services-offices/" target="_blank" class="green">trained counselors</a> who can assist you in making the most of your GI Bill® benefits. We’ll work with Veterans Affairs to help make a complicated process as simple as possible.</p>
				<p>With SUNY Online, members of the United States military are only a click away from world-class SUNY academics.</p>
				<p>GI Bill® is a registered trademark of the U.S. Department of Veterans Affairs (VA). More information about education benefits offered by VA is available at the official U.S. government Web site at <a href="https://www.benefits.va.gov/gibill">https://www.benefits.va.gov/gibill</a>.</p>
			</section>
		</section>
	</section>