<% title "Transfer Online"  %>
<% meta_desc "Learn about the transfer process at SUNY, apply for admission, and reduce your time to degree. Work closely with an advisor to maximize your earned credits." %>

<section id="transfer" class="content">
	<header role="resource-banner" aria-label="Resource Navigation Banner">
		<nav class="row" aria-label="Resource Navigation Bar">
			<select class="show-mobile" aria-label="Visit Other SUNY Online Content Pages" id="resource-options">
				<option value="/content/faq" >FAQs</option>
				<option value="/content/military">Military &amp; Veterans</option>
				<option value="/content/transfer" selected="">Transferring Credits</option>
				<option value="/content/tuition-financial-aid">Tuition &amp; Financial Aid</option>
				<option value="/content/about">About SUNY Online</option>
			</select>
			<ul class="hide-mobile"><li>
				<a href="/content/faq" title="Find answers to common questions about SUNY Online programs and courses">FAQs</a></li>
				<li><a href="/content/military" title="Information for active and reserve duty military members and prior service military veterans">Military &amp; Veterans</a></li>
				<li class="selected"><a href="/content/transfer" title="Information about transferring credits towards SUNY Online degree programs">Transferring Credits</a></li>
				<li><a href="/content/tuition-financial-aid" title="Information about SUNY Online tuition and financial aid">Tuition &amp; Financial Aid</a></li>
				<li><a href="/content/about" title="Learn more about the Open State University of New York System">About SUNY Online</a></li>
			</ul>
		</nav>
	</header>
	<section class="row">
		<h1>Transferring Credits</h1>
		<section>
			<p>Already have some coursework completed at another institution? Many SUNY campuses will accept transfer credits from other institutions (SUNY and non-SUNY), ensuring that the time and effort you’ve already put forth can help you on your way to degree completion. Specific transfer credit policies should be checked with a <a href="http://www.suny.edu/attend/get-started/transfer-students/campus-transfer-offices/" target="_blank" class="green" rel="noopener">transfer advisor</a> at the campus at which you’re thinking of completing your degree.</p>
			<p>The information on this page will help you plan the steps you’ll need to take in order to transfer to a SUNY campus.</p>
		</section>
		<section>
			<h2>Suggested timeline transferring to a SUNY campus</h2>
			<a href="http://www.suny.edu/attend/get-started/transfer-students/steps-to-transfer/" title="Transferring to or within SUNY is a seamless process. You'll find advice and timelines - by semester - to assist with your transition, at whatever stage you are in the process" target="_blank" rel="noopener"><img src="//d2brwuimzb4ax4.cloudfront.net/sites/suny/content/transfer-path.png" width="650" alt="Receive Campus Evaluation of Credits"></a></section>
			<section>
				<h2>4 semesters before you wish to transfer:</h2>
				<ul>
					<li>
						<dl>
							<dt>Investigate majors.</dt>
							<dd>If you are unsure of your academic program, start exploring as soon as possible. Don't delay! It could be a costly mistake to postpone serious thought about your intended major.</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>Identify your path.</dt>
							<dd>View the <a href="http://www.suny.edu/student/transfer/transfer_mobility.cfm" target="_blank" rel="noopener" class="green">SUNY Transfer Path</a> for your desired curriculum or discipline.</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>Establish a plan.</dt>
							<dd>Use your chosen path(s) to create a <a href="http://www.suny.edu/attend/get-started/transfer-students/planning-your-coursework/" target="_blank" rel="noopener" class="green">Transfer Course Planner</a> to map your coursework for the next four semesters. This is important as many majors have prerequisites and sequential courses.</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>Review your plan.</dt>
							<dd>Consult your academic advisor for guidance, as well as a <a href="http://www.suny.edu/attend/get-started/transfer-students/campus-transfer-offices/" target="_blank" rel="noopener" class="green">transfer counselor</a> from the campus to which you plan to transfer (if known).</dd>
						</dl>
					</li>
				</ul>
			</section>
			<section>
				<h2>3 semesters before you wish to transfer:</h2>
				<ul>
					<li>
						<dl>
							<dt>Begin your research.</dt>
							<dd>Identify online programs in your area of interest.</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>Visit campuses websites. </dt>
							<dd>Many offer information sessions.</dd>
						</dl>
					</li>
				</ul>
			</section>
			<section>
				<h2>2 semesters before you wish to transfer:</h2>
				<ul>
					<li>
						<dl>
							<dt>Apply for admission.</dt>
							<dd>If you plan to transfer spring semester, consider applying by September. For a fall semester transfer, plan to apply by mid-November. Some majors or campuses may have deadlines earlier than these suggested dates.</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>Submit a transcript request.</dt>
							<dd>Ask your current college to send an official transcript to the college(s) to which you are applying. Be sure to request one official transcript from each collegiate institution you have attended. For students transferring from a SUNY 2-year program, request that the General Education addendum be attached to the transcript.</dd>
						</dl>
					</li>
				</ul>
			</section>
			<section>
				<h2>1 semester before you wish to transfer:</h2>
				<ul>
					<li>
						<dl>
							<dt>Renew your FAFSA.</dt>
							<dd>Request that a Student Aid Report be sent to the campuses to which you've applied.</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>Request preliminary credit evaluations.</dt>
							<dd>Some campuses will provide this prior to admission, while others will do so upon admission. If you have questions, speak to a transfer advisor at your current campus.</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>Review your financial aid packages.</dt>
							<dd>Compare the net costs between colleges.</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>Choose your transfer college.</dt>
							<dd>Notify your chosen campus of your intent to enroll. Pay your tuition deposit.</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>Attend an online orientation session, if available.</dt>
							<dd>It's a great way to connect with your new campus!</dd>
						</dl>
					</li>
				</ul>
			</section>
		</section>
	</section>