<div id="cookies-bar" class="cookies-bar large-20 large-offset-2 small-24 columns">
<div class="closeBtn"><div class="interior"><%= link_to 'X', request.original_url, class: 'btn accept' %></div></div>
	        
			<div class="m-content large-24 small-24 columns"><h5>Your Privacy is Important To Us. </h5>
	           <p> SUNY.edu uses simple cookies to help build a better website experience for our visitors. Learn more through our <a href="https://www.suny.edu/privacy-policy/">Privacy Policy</a>.</p>
  </div>

  
  <!--%= link_to 'Reject', request.original_url, class: 'btn reject' %-->
</div>
