<footer>
	<div class="navigation nav-row">
		<ul>
			<li><a href="https://online.suny.edu/help/" title="Resource for current Open SUNY students">Current Student Support</a></li>
			<li><a href="http://open.suny.edu/degrees" title="Find online degree programs at Open SUNY">Search Online Programs</a></li>
			<li><a href="/courses" title="Find online courses at Open SUNY">Search Online Courses</a></li>
			<li><a href="https://www.suny.edu/attend/visit-us/complete-campus-list/" title="Discover Open SUNY campuses">SUNY Campuses</a></li>
			<li><a href="http://open.suny.edu/content/faq" title="Find answers to common questions about Open SUNY programs and courses">Frequently Asked Questions</a></li>
			<li><a href="http://open.suny.edu/content/military" title="Information for active and reserve duty military members and prior service military veterans">Military &amp; Veterans</a></li>
			<li><a href="http://open.suny.edu/content/transfer" title="Information about transferring credits towards Open SUNY degree programs">Transfer &amp; Previous Credits</a></li>
			<li><a href="http://open.suny.edu/content/tuition-financial-aid" title="Information about Open SUNY tuition and financial aid">Tuition &amp; Financial Aid</a></li>
			<li><a href="https://www.suny.edu/smarttrack/" title="SUNY Smart Track is a commitment to financial aid transparency and helping you and your family to make the best decision in college financing.">Smart Track</a></li>
			<li><a href="https://www.suny.edu/contact/foil/" title="New York State's Freedom of Information Law for Open SUNY campuses">FOI Requests</a></li>
			<li><a href="/privacy" title="Review SUNY's Privacy Policy">Privacy Policy</a></li><li><a href="/terms" title="Review Open SUNY's Terms of Use">Terms of Use</a></li>
		</ul>
		<figure>
			<img src="//d2brwuimzb4ax4.cloudfront.net/sites/suny/logos/open-suny-footer.png" alt="SUNY - The State University of New York">
			<figcaption>Copyright © 2016-2018 SUNY. All Rights Reserved.</figcaption></figure>
			<aside class="social-media" aria-label="Twitter Feed">
				<div class="twitter-feed" tabindex="-1">
					
					
					<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
				<ul>
					<li class="youtube"><a href="https://www.youtube.com/user/GenerationSUNY" target="_blank" rel="noopener">Open SUNY's Youtube Channel</a></li>
					<li class="facebook"><a href="https://www.facebook.com/generationsuny" target="_blank" rel="noopener">Open SUNY's Facebook Page</a></li>
					<li class="linkedin"><a href="https://www.linkedin.com/company/state-university-of-new-york" target="_blank" rel="noopener">Open SUNY's LinkedIn Page</a></li>
					<li class="twitter"><a href="https://twitter.com/SUNY" target="_blank" rel="noopener">Open SUNY's Twitter Page</a></li>
				</ul>
			</aside>
		</div>
	</footer>